[2018-07-09 04:18] Sm00g15 opened #60 "Issue Connecting To An Infura Node"
I keep hitting this error in my terminal
[code]

![screen shot 2018-07-09 at 4 16 07 pm](https://user-images.githubusercontent.com/14209806/42430490-b4ad1500-8393-11e8-8bca-da31ffda6fb5.jpg)

This is also the popup I'm getting. Any ideas what the issue could be?

[2018-07-09 04:20] bthaile commented on #60
This issue is we don't have the mainnet contract addresses in the newest version of augur-app. Tomorrow, July 9th we expect the addresses to be added.

[2018-07-09 04:21] Sm00g15 commented on #60
Ah okay awesome! Looking forward to it!

[2018-07-09 22:01] HDCharles opened #64 "Readme links to empty page for OS installers"
empty link: https://github.com/AugurProject/augur-app/releases

note: the augur main website 'download app' also links to this empty page

[2018-07-09 22:14] bthaile commented on #64
We are in the process of releasing to mainnet, when the rep migration is done we will release augur-app.

[2018-07-10 07:18] blacktemplar opened #72 "Cannot build from source with nodejs 10"
Just wanted to mention here that building from source doesn't work with nodejs 10.
The issue is with the following dependency chain: augur-app -> augur-ui -> ethereumjs-ledger -> node-hid 0.7.2 (old version which does not support nodejs 10).
See also https://github.com/ethereumjs/ethereumjs-ledger/issues/6.

[2018-07-10 08:25] negamax opened #73 "Database locked when switching configurations"
Switch config without completion of previous one. Click on Connect. Following error shows up (see bottom of screenshot)
<img width="896" alt="screen shot 2018-07-10 at 10 21 20" src="https://user-images.githubusercontent.com/1029486/42498003-5f89600e-842b-11e8-98d6-f87423524022.png">

[2018-07-10 08:44] negamax opened #74 "Market creation bug"
It is not clear how many transactions need to be send/signed. You keep on getting prompted which seems like forever.

[2018-07-10 08:46] format37 commented on #73
had the same issue. helped: close app, open again, wait for synced: 100%, press @Open augur app"

[2018-07-10 09:23] alfiehub opened #75 "Support for multiple accounts on a Ledger"
When connecting with a Ledger Nano S it would be nice to choose which account/address to use.

Currently a lot of users will not be able to use the app because of this, unless they transfer ETH/REP to the default chosen address.

[2018-07-10 10:05] timnugent opened #76 "undefined symbol: udata_setCommonData_59"
Installed using the .deb. Crashes on start-up (Ubuntu 16.04):

/opt/augur/augur: symbol lookup error: /opt/augur/augur: undefined symbol: udata_setCommonData_59

[2018-07-10 10:36] TacoByte opened #77 "Service exited with abnormal code: 1"
High Sierra

The desktop app has crashed and exited on me twice with the following:
`com.apple.xpc.launchd[1] (com.electron.augur.7984[757]): Service exited with abnormal code: 1`

augur helper also spits this out once in a while, though it might not be related
`LSExceptions shared instance invalidated for timeout.`

[2018-07-10 10:53] negamax opened #78 "Market missing even though confirmed on Blockchain"
Another one after that is visible but it seem to be lost. Can give more details in PM

[2018-07-10 10:59] TacoByte commented on #77
The crash happens when a new market is mined while the app is running! I have verified this comparing the crash timestamps to tx being confirmed on https://etherscan.io/address/0xe991247b78f937d7b69cfc00f1a487a293557677 (crash happens within 1-2 secs after block is mined)

[2018-07-10 11:06] karalabe opened #79 "Failed to fetch parent block"
I've build the app from source, connected to mainnet via Infura. Sync got up to 99%, now just endlessly printing

[code]

[2018-07-10 11:06] karalabe commented on #79
Oh, after a few minutes it passed this.

[2018-07-10 11:09] karalabe opened #80 "Type Error: Invalid chunk size: 0"
[code]

[2018-07-10 11:14] TacoByte commented on #78
HOW TO FIX: delete the local augurnode sync data. (on OS X, it's Library/Application Support/augur). Relaunch Augur and let it resync from scratch. Now all the markets will show up correctly.

[2018-07-10 11:17] TacoByte commented on #77
Note: this does not happen with all new markets

[2018-07-10 11:18] OperationNine commented on #79
I was about to open this exact same issue, it stuck and is now passing. Was using the linux version

[2018-07-10 11:52] TacoByte commented on #77
Now, app seems to have crashed on its own, though maybe this is related to another state change (maybe somebody just placed a bet on a market?). or maybe it's something else. can't verify for sure right now

[2018-07-10 12:57] ulrichard opened #81 "port 8080"
I'm sure it is documented somewhere how to choose another port to run the augur app. But I could not find the info.
Port 8080 is used for other stuff on a lot of systems.

PORT= 9090 augur
did not work

[2018-07-10 13:00] bthaile commented on #81
Currently augur-app is using port 8080 and not configurable, In the future it will be configurable.

[2018-07-10 13:02] bthaile commented on #60
closing this issue.

[2018-07-10 13:02] #60 closed

[2018-07-10 13:03] bthaile commented on #64
Release is now available, closing this.

[2018-07-10 13:03] bthaile commented on #64
Release is now available, closing this.

[2018-07-10 13:03] #64 closed

[2018-07-10 14:37] negamax commented on #78
@TacoByte this worked.. still would be good to see this fixed at high priority

[2018-07-10 14:38] negamax opened #82 "Augur App on Mac crashes randomly"
It happens quite often. Could be some sync issue

[2018-07-10 14:39] bthaile commented on #74
Currently there is a but in Infura and meta mask configuration. Tx signing is prompted twice. Trezor has 3 prompts for one tx. The second tx signing needs to be cancelled. We are working on getting a solution out.

[2018-07-10 14:40] bthaile commented on #75
Currently we only support the default account. Yes, you will have to transfer your tokens to the default address. We'll be working out a solution.

[2018-07-10 15:53] matteopey opened #83 "Random crashes on Windows"
OS: Windows 10
Local node: parity 1.11.5

The app crash randomly, both using the local node or connecting to mainnet with Infura.
This is the log from `%appdata%/augur` folder.

[code]

[code]

[2018-07-10 16:01] aakilfernandes opened #84 "Suggestion: better "sync" messaging"
When you first start up, there's a "Synced: 0%" at the top right. I assumed this meant my chain wasn't synced, but since I'm using Infura I was confused assuming it should be auto-synced.

After a few minutes it jumped to 68%, so I assume this is syncing app-specific data (instead of the entire Ethereum chain).

So two suggestions:
1) Add some kind of animating loading icon to communicate the sync

[2018-07-10 16:03] aakilfernandes opened #85 "Suggestion: Enable inspector"
It would help users report bugs

[2018-07-10 16:28] page1 commented on #82
Just experienced this. Is there a place with logs we should submit to help debug?

[2018-07-10 16:29] aakilfernandes opened #86 "Request: Fiat prices"
Would be great if we can get some kind of fiat estimation of costs when placing buy orders

[2018-07-10 16:36] aakilfernandes opened #87 "Need to reconnect to metamask on every refresh"
Every time I refresh, I need to re-click "connect to Metamask". Is there any way to store the connection in a cookie or something so users don't need to reconnect every time?

[2018-07-10 16:48] matthewsedam commented on #79
Same here on mac.

[2018-07-10 17:03] aakilfernandes commented on #82
Can confirm. By "app" I mean the electron app. There's no error or notification, it just silently crashes while browsing localhost.

[2018-07-10 17:07] blacktemplar opened #88 "Could not find balance for token decrease"
I am using the augur-app for linux and got the following error today during synchronization (it was already at 100% and then I closed the app and opened it a little bit later again so it had to synchronize).
This also lead to closing the application after the sync finished!

I am using infura as endpoint.

[code]

[2018-07-10 17:18] hoffmabc commented on #88
Getting this as well on OSX.

[2018-07-10 17:19] hoffmabc commented on #82
You can look in the log for more info:  ~/Library/Logs/augur/log.log

[2018-07-10 17:21] aakilfernandes opened #89 "Fatal Error, shutting down servers Error: order not found"
Mac OSX High Sierra 10.13

[code]

[2018-07-10 17:22] aakilfernandes commented on #82
@hoffmabc thanks!

Opened up this issue for those who have an "Order Not Found" error

https://github.com/AugurProject/augur-app/issues/89

[2018-07-10 17:24] hoffmabc opened #90 "MetaMask Transactions Keep Getting Created"
Whenever I try to perform some sort of action, the app pops up a MetaMask tx to sign over and over and over again. Any ideas why this might be happening? It could be that I misunderstand, but it's not explained.

[2018-07-10 17:30] hoffmabc commented on #88
I checked the sqlite db and the balance is non-existent in the database for the owner specified.

[2018-07-10 18:35] page1 commented on #82
Looking at ~/Library/Logs/augur/log.log as per @hoffmabc I see an error similar, but slightly different from #89

[2018-07-10 18:38] page1 commented on #89
Got something pretty similar in my log

[2018-07-10 18:46] page1 opened #92 "App window too large on MacBook Pro 13 inch"
The app window is too tall and I can't figure out how to resize it so it doesn't sit under the dock.

<img width="1116" alt="screen shot 2018-07-10 at 12 42 14 pm" src="https://user-images.githubusercontent.com/6609556/42530623-e5c7d7d2-843e-11e8-996a-a522248efdca.png">

[2018-07-10 19:08] petong commented on #76
Cannot reproduce, I tried on a clean install of ubuntu 16.04. Can you post the output of `ldd /opt/augur/augur` to see if there are missing libraries?

[2018-07-10 19:34] TacoByte commented on #82
#77?

[2018-07-10 19:43] petervecchiarelli commented on #90
@hoffmabc We are working on this, hang tight!

[2018-07-10 19:44] petervecchiarelli commented on #92
@page1 Is this prohibitive, could you give more context?

[2018-07-10 19:44] hoffmabc commented on #87
I think this is a security precaution.

[2018-07-10 20:25] rachyandco opened #95 "Unhandled rejection Error: order not found"
Environment
- Augur app Version 1.0.1
- Ubuntu 16.04
- connection to infura

I have the following error log:
[code]

i created a separate issue from https://github.com/AugurProject/augur-app/issues/89 as it is not a `Fatal error`

however it is followed by:

[code]

[2018-07-10 20:27] ButtaTRiBot opened #96 "Add More Pre-Set Networks"
Please add more Pre-set Networks users can choose from

[2018-07-10 20:30] timnugent commented on #76
Strange - got it working by running it as root, and after that it runs ok under a regular user. Here's the ldd output before all that - nothing missing. Can probably close this now.

tnugent@darwin:~/Downloads$ augur
/opt/augur/augur: symbol lookup error: /opt/augur/augur: undefined symbol: udata_setCommonData_59
tnugent@darwin:~/Downloads$ ldd /opt/augur/augur
	linux-vdso.so.1 =>  (0x00007ffd04bf

[2018-07-10 21:01] ButtaTRiBot opened #97 "Stuck at 0% Sync"
Windows 10, Augur App 1.0.1

stuck at 0% sync for hours now.

![augur_2018-07-10_23-00-56](https://user-images.githubusercontent.com/26490734/42537421-1c84fca4-8495-11e8-9ee9-db31343cde87.png)

[2018-07-10 21:12] petervecchiarelli commented on #97
@ButtaTRiBot You could try re-starting, we're also troubleshooting the infura hosted node as well. Hang tight.

[2018-07-10 21:28] #97 closed

[2018-07-10 21:41] xenoexclusive commented on #88
Also getting this on Windows 10, just to cover all bases.

[2018-07-10 21:48] garethtdavies opened #99 "Fatal Error, shutting down servers Error: market and outcome not found"
When starting Augur the application syncs and then just shuts down. Looking in the logs I can see a `Failed to startup: market and outcome not found` error. I had previously created a market. Relevant lines of log file below:

Running MacOS High Sierra 10.13.5.

[code]

[2018-07-10 21:56] gabbello opened #100 "Transaction doesn't appear in UI"
I made a buy on s a specific market, but it doesn't appear under "transactions" or "positions" sections.

Transaction on blockchain here: https://etherscan.io/tx/0x5931715b08918d8e32cd0bd557e9de34dd0b5986ba1b06bf7786f7b3e46ab1cd

Log excerpt below:
[code]

[2018-07-10 22:02] garethtdavies commented on #78
Same issue and just to clarify above for others the directory is `~/Library/Application Support/augur` and I had to delete the `augur-1.db` file. On doing this it also fixed up the issue in #99.

[2018-07-10 22:23] negamax opened #102 "Syncing is a major issue"
Lots of stale data. Only workaround is to delete the augur folder and resync.

[2018-07-10 22:28] tobutridaz commented on #83
I also get random crashes. Most crashes happen when connecting to mainnet (local Parity) and being synced at 99%.

`[2018-07-11 00:21:45.777] [error] Fatal Error, shutting down servers Error: Could not find balance for token decrease (token: 0x4a482975a31bb27b9f5cf84c07474b8446bb730c, owner: 0x5e2130c995d105510467c2610893ab8464d3448d)
    at db.first.from.where.asCallback (C:\Users\tobun\AppData\L

[2018-07-10 22:32] Hex-Capital opened #103 "Connecting to wrong Ledger address (incorrect HD Derivation Path)"
Version: Windows Desktop Client v1.0.0

When I connect my ledger, the default address shown is incorrect. According to MEW, the address showing up in the Augur app is using the wrong HD derivation path:

HD Derivation Path
 m/44'/60'/0'/0
Jaxx, Metamask, Exodus, imToken, TREZOR (ETH) & Digital Bitbox

Instead of the HD Derivation Path Ledger is supposed to use:

m/44'/60'/0'
Ledger (ETH)

[2018-07-10 22:32] CheckRazor opened #104 "Creating initial liquidity orders as part of the market create process doesn't work"
I have successfully create binary markets and each time tried to add initial liquidity orders.  The market creation transaction works fine, but the initial liquidity orders are never created as defined in Augur-App.   Once market is created you can add liquidity order manually,  Setup - Augur-App - local node with metamask.

[2018-07-10 22:50] Hex-Capital opened #105 "Unable to connect to local Parity node - invalid token"
Version: Windows Desktop Client v1.0.0

When trying to connect to my local Parity node, I'm getting the following error:

Blocked connection from https://localhost:8080 using invalid token

Note that Augur is able to sync just fine. I think this error only pops up when trying to load the UI in Chrome

What Parity settings are needed for Augur to be able to connect via websockets?

[2018-07-10 22:52] Hughesyy opened #106 "0 REP staked after purchasing Participation Token"
I purchased approximately 1.03999999 participation tokens in exchange for REP.

Due to the issues with infura connectivity, I had to re-sync and open the Augur app. My transaction has gone through but it says "0 REP Staked" in the Dispute section.

TxHash: 0xa96852849df918aae3b0a9419c0e02728f7ca92da91a1994228e33a7156b39f9

[2018-07-10 23:01] page1 commented on #92
Hi @petervecchiarelli
I wouldn't call it prohibitive. So far it seems most of the buttons are above the dock most of the time. It's just inconvenient when things like the following happen. (Vanishing cancel button)
<img width="322" alt="screen shot 2018-07-10 at 4 53 35 pm" src="https://user-images.githubusercontent.com/6609556/42542022-225511ce-8462-11e8-8872-be4902da2cad.png">
And it looks weird

[2018-07-10 23:04] ldub commented on #88
Also got this on OS X: https://pastebin.com/raw/PXi9VhYE

[2018-07-10 23:23] aakilfernandes opened #108 "Error: Could not find balance for token decrease"
Mac OSX High Sierra 10.13

[code]

[2018-07-11 00:22] justinbarry commented on #92
@page1 We set the size here: https://github.com/AugurProject/augur-app/blob/master/src/main/main.js#L22

On my machine it appears much larger. I'll see what I can do to make it smaller.
<img width="900" alt="screen shot 2018-07-10 at 4 12 07 pm" src="https://user-images.githubusercontent.com/328965/42544305-b8aa9f9c-8465-11e8-8726-d81cebefc7c3.png">

[2018-07-11 00:31] #76 closed

[2018-07-11 00:32] justinbarry commented on #76
Thank you for getting back to us.

[2018-07-11 00:35] justinbarry commented on #108
Closing. Duplicate of #88.

[2018-07-11 00:35] #108 closed

[2018-07-11 00:59] JohnAllen opened #110 "Make "Log in to trade" a button instead of text"
Simple as that. Instead of having to click a few times to go back the account page, where the order box normally is with this text, when logged out, you could make a button to at least redirect to the login page.

[2018-07-11 01:47] drwasho commented on #84
Definitely... this isn't a SPV wallet

[2018-07-11 03:04] fadisaaida opened #113 "Disconnects when clicking submit when Purchasing " Participation Tokens ""
[log.txt](https://github.com/AugurProject/augur-app/files/2182791/log.txt)
i use windows 10 64bit, chrome latest version, all my other ethereum nodes ( parity,geth ) closed, using the augur app with infura mainnet.

once i open the app and connect to my ledger, i go to dispute tab and try to purchase some tokens, after the review page i click submit and then app disconnect from the ethereum node,

[2018-07-11 03:20] mattxsmith opened #114 "WebSocket connection error when trying to submit transaction"
The app works fine, up until I try to submit or cancel an order using Metamask. No errors show up in the UI or in the console, the transaction just never gets sent to the network. I'm connecting to my geth node running with the following settings:

`geth console --rpc --ws --syncmode "light" --rpcaddr "0.0.0.0" --wsaddr "0.0.0.0" --rpccorsdomain "*" --wsorigins "*"`

Here are the errors from the A

[2018-07-11 03:54] garethtdavies commented on #104
I also experienced this setting up my first market. The market was created but not the initial liquidity orders as I detailed in the setup phase.

[2018-07-11 04:08] epheph commented on #78
@pgebheim @nuevoalex  and I have been working on this specific issue and we believe we understand the root cause. What follows is a technical explanation of what is going on, for future reference.

When a new block comes in, say, block X, we turn around and request, in another request, `eth_getLogs({fromBlock: X, toBlock: X, filter: $setOfContractsFilter})` in order to fetch the new data. Sometime

[2018-07-11 04:12] epheph commented on #78
There are only two solutions to this problem (unless the protocol gets updated, I'll talk with @MicahZoltu about the best way to approach that).

1.) Run a [singular] ethereum-node, that is internally consistent between RPC calls
2.) "Lag" our sync by some quantity of blocks that would give a large pool of nodes a chance to propagate a block to all nodes before we request more information from the

[2018-07-11 04:36] TacoByte commented on #77
[2018-07-11 01:31:18.694] [info]
[2018-07-11 01:31:58.856] [info] new block: 5941588 1531265409
[2018-07-11 01:31:58.874] [info] new block: 5941589 1531265441
[2018-07-11 01:31:58.898] [info] Processing 2 logs
[2018-07-11 01:31:58.909] [error] Fatal Error, shutting down servers Error: SQLITE_CONSTRAINT: CHECK constraint failed: nonnegativeBalance

[2018-07-11 01:31:58.910] [error] Error: SQLITE_CO

[2018-07-11 04:43] TacoByte commented on #103
This was discussed in the discord. Apparently, it's the others that are using the wrong derivation path. Choosing your own derivation is a potential future feature according to a dev

[2018-07-11 04:47] TacoByte commented on #77
Crash happened in relation to an address holding REP and a different token (SHARE?)

https://etherscan.io/address/0xbc940a98916afdaa955a1959cbe00c2d0efb01e5
https://etherscan.io/address/0x4a18c9f1e93e600b9bfabe914503819c0f93c0a1

[2018-07-11 04:49] Hex-Capital commented on #103
Hmm if all other sources are defaulting to m/44'/60'/0', maybe Augur should as well for now?

Moving my funds from m/44'/60'/0' to m/44'/60'/0'/0 would make them inaccessible on all other 3rd party ledger integrations

[2018-07-11 05:00] TacoByte opened #115 ""Nuke database" doesn't work"
High Sierra

The "Reset to delete database and configuration file" button doesn't do what it advertises. I have checked the Application Support/augur folder and everything is still there. When I click the button, it says "Resetting" for a second, then reverts back and nothing else happens. Event doesn't generate a log that I can find

[2018-07-11 05:00] kluge commented on #78
Wouldn't a third solution be to not treat `result: []` as final until N blocks have gone by? That would require some additional polling, though. But could provide up-to-date state if the used node is up-to-date, albeit at the cost of additional calls.

Probably gets very tricky when you happen to get logs from a newer block, but not an older one. Lag is probably simpler and safer, but this would b

[2018-07-11 05:03] ldub commented on #80
Have this same issue on macOS and augur-app 1.0.1

[2018-07-11 05:36] MicahZoltu commented on #78
I suspect that the engineering difficulty of having processing logic be conditional on empty array (and dealing with all of the sync issues around that) would be difficult.

We could perhaps have `ethereumjs-blockstream` (or a fork of it) have a background job that validates old blocks/logs, and if it finds that its data is inconsistent with its history it will rollback to that point and rebuild.

[2018-07-11 05:49] MicahZoltu commented on #78
We also could change the bandwidth profile of the AN<->EN connection and have blockstream (fork) fetch whole blocks rather than just the logs it needs.  This allows you to fetch a block by hash and notice when you get the wrong one, and it comes with all of the transaction receipts which can then be iterated over and you can fetch all of the logs from them.

[2018-07-11 05:54] TacoByte opened #117 "When providing initial liquidity while creating a market, I can't cancel an order"
On the "Liquidity" screen of the market creation process

If you add an order, you should be able to cancel it as well. If you make a mistake or change your mind, you have to start over the whole market creation process instead of just being able to cancel your order. In fact, you have to refresh the page to clear the cache

I can currently go back and edit any detail about my market, except for t

[2018-07-11 05:55] sprice opened #118 "Infura websocket connection fails"
Mac OS 10.13.5
Chrome 67. Guest Mode. No Extensions
Augur 1.0.2
Default Mainnet Connection Settings

Console Output
[code]

[2018-07-11 06:03] sprice commented on #118
Just saw this. Thanks!
https://twitter.com/AugurProject/status/1016805587613437952

[2018-07-11 06:03] #118 closed

[2018-07-11 06:55] miningbadger opened #119 "can you offer shasum for the release?"

[2018-07-11 06:57] blacktemplar commented on #78
Isn't another idea remembering the last block which had a non-empty log (lets say block number N) and then use eth_getLogs({fromBlock: N, toBlock: "latest", filter: $setOfContractsFilter}) to get all logs up to the latest. With that method one cannot decide what the latest synced block is, one can only know the latest synced block with logs, but the user experience would be always up-to-date.

[2018-07-11 07:02] rachyandco commented on #95
also reported here: https://github.com/AugurProject/augur-app/issues/99

[2018-07-11 09:23] joeykrug commented on #78
- How do AN + Blockstream handle reorgs at the moment?
- IMO this should be a period of time vs number of blocks to fix the propagation problem w/ infura
- "We could perhaps have ethereumjs-blockstream (or a fork of it) have a background job that validates old blocks/logs, and if it finds that its data is inconsistent with its history it will rollback to that point and rebuild." IMO this needs to

[2018-07-11 10:13] negamax commented on #106
@justinbarry  @nuevoalex are those REPs lost?

[2018-07-11 10:15] negamax opened #120 "Not able to place Buy/Sell orders in an open market"
The CASH tokens just gets returned back. Trying to be a market maker in one of the new markets. Feel free to ping me for transaction etc.

[2018-07-11 10:15] goyb commented on #100
I am encountering the same issue.

I created a market with the following transaction:
https://etherscan.io/tx/0x5931715b08918d8e32cd0bd557e9de34dd0b5986ba1b06bf7786f7b3e46ab1cd

While it was pending, I was able to view the transaction in the ui ( Portfolio >  Transactions ). However, as soon as the transaction was confirmed it got lost.

It doesnt show up on the market tab. Also in "Portfolio" it

[2018-07-11 10:16] timnugent opened #121 "Failed to startup: [object Object]"
Ubuntu 16.04, v1.0.2. After 5 mins of syncing (before starting the Augur App), I get this every second:

[11:10:39.155] [info] Failed to startup: [object Object]
[11:10:40.153] [error] TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?
    at /opt/augur/resources/app.asar/node_modules/augur-node/node_modules/knex/lib/client.js:3

[2018-07-11 11:37] elie222 commented on #100
I believe I have the same issue with my txs too:

https://etherscan.io/tx/0x6fe27d19565ff50da413f36b21adea016091e1d0cdf79126ceb0d9a3474ac37f

https://etherscan.io/tx/0xd180138cf7e03cd4e0fe47e82932aab939dd68b74441568365c1925cfac503fb

[2018-07-11 11:39] elie222 commented on #82
Can confirm this is still happening on 1.0.2. Silently crashes.

[2018-07-11 11:59] negamax commented on #78
@epheph can't this be resolved at Infura? For e.g. they can accept a session id of sorts from augur app and route all requests to one node for one app. If I understand this correctly, this issue will not happen if running a local node

[2018-07-11 12:45] TacoByte opened #122 "geth --syncmode light doesn't work as a source for augur-node"
`geth --syncmode light --rpc`

I am running the latest geth on augur 1.0.2.

Augur node seems confused by the remaining block count and doesn't let me open the client page. Note the info in the upper right

![screen shot 2018-07-11 at 14 42 58](https://user-images.githubusercontent.com/8594622/42572006-f4953112-8518-11e8-98f9-19301a06bee8.png)

[2018-07-11 13:28] ButtaTRiBot opened #123 "Add "high volume" bets as its own category"

[2018-07-11 13:44] timnugent opened #124 "Error: SQLITE_CONSTRAINT (positiveEndTime)"
Ubuntu 16.04, v1.0.2, crashes like this:

[12:55:17.740] [info]
[12:55:18.740] [info]
new block: 5944595 1531310192
[12:55:19.534] [info] new block: 5944595 1531310192
Processing 12 logs
[12:55:19.537] [info] Processing 12 logs
Fatal Error, shutting down servers { Error: SQLITE_CONSTRAINT: CHECK constraint failed: positiveEndTime errno: 19, code: 'SQLITE_CONSTRAINT' }
[12:55:21.225] [error] Fatal

[2018-07-11 13:47] Alorky commented on #100
I had the same problem. Here is my transaction:

https://etherscan.io/tx/0xef4b3e3a7d38ad7c3a397a02585c3f32ab3a8ccab44e3a2f0806240b05f2601b

I looked into it a bit further and saw that the Augur smart contract was returning a random token named SHARE to people

https://etherscan.io/token/0x4a482975a31bb27b9f5cf84c07474b8446bb730c?a=0x39c230f89981274177e79708c921582bd4bd0303

here is the transactio

[2018-07-11 13:49] negamax commented on #123
@ButtaTRiBot category information is by public. I think a better interface can be built; but as a protocol Augur should remain as un-opinionated as possible

[2018-07-11 14:32] goyb commented on #100
I solved it by deleting the augur-1.db file. On windows it is found at ~\Appdata\Roaming\Augur. Restarting and resyncing the app, it now shows the correct data.

I guess this is a duplicate:
Duplicate of #78

[2018-07-11 14:35] gabbello commented on #78
Can we get the default paths for " local augurnode sync data. " for all OS-es?

[2018-07-11 14:38] Alorky commented on #100
I think this problem differs from that described in #78. My issue is not in relation to making a new market but instead placing an order on an existing market

[2018-07-11 14:57] tobutridaz commented on #78
This is probably related. I was probably not in sync and I saw markets that were already expired. I placed a trade order on the market and it went through on the blockchain. The money seemed to have been returned through the contract. https://etherscan.io/tx/0xea8dfeb0b3c393322004a91b63a46eea15356d9a6c72a419a78de943b8a0045d

Obviously I have no positions in my profile.

[2018-07-11 15:59] bartleyg opened #126 "Stale orderbook and no way of knowing if take order failed"
There is a stale order on the orderbook that if trying to take the bid with a sell, will not succeed, but not throw an error. The transaction is made on the blockchain to publicFillBestOrder. The transaction does not assert out. The My Positions, Portfolio, Transactions is never updated. There is no update to the Notifications or interface that shows that the sell of the bid on the book failed or

[2018-07-11 16:00] page1 commented on #92
Just got 1.0.2 installed and even with auto hiding Dock I see this at the bottom
<img width="982" alt="screen shot 2018-07-11 at 9 58 18 am" src="https://user-images.githubusercontent.com/6609556/42584722-1c6ce7b6-84f1-11e8-83bd-d76882354dd0.png">

Yes that reset button is cut in half falling off the screen. And would be 100% covered by the dock if not hidden.

[2018-07-11 16:01] vanjan opened #127 "Allow customization of localhost port"
Hi there,

I've got something running on 8080 already -- can I tell Augur App to use a different port?

[2018-07-11 16:07] goyb commented on #100
@Alorky You are right. I created an order, which indeed did not show up. I removed the database and resynced to the network, but still it doesn't show up in the "transactions" or "positions" tab.

Transaction:
https://etherscan.io/tx/0xc1a3930efae6268e7250bef36d6be74ff54ce534043f4e5a2916f070ec390c7a

[2018-07-11 17:05] Hex-Capital opened #128 "Unable to connect to mainnet infura nodes"
Version: Desktop Windows client version 1.0.2

When clicking connect on the default mainnet settings (Infura node), i get the following error:

There was an issue connecting to the nodes, please try again.

[2018-07-11 17:09] page1 opened #129 "Feature Request: Initial Liquidity both Buy and Sell"
Currently when creating a market you can only place a liquidity order on the buy or sell side, but not both. To promote liquidity users should have the option to place liquidity orders on both sides of the order book on market creation.

[2018-07-11 17:10] joeykrug commented on #78
@negamax it can happen with a local node too

[2018-07-11 17:15] epheph commented on #78
@gabbello The solution will be to lag some configurable number of seconds, for propogation, and we will expose this in the library and likely in the UI (or only override when using infura? We're still considering our options).

[2018-07-11 17:27] page1 opened #130 "Feature Request: Open Orders"
I haven't found a way to see what orders I currently have open.

[2018-07-11 17:41] page1 opened #131 "JavaScript error: Websocket is not open"
Just random error on Mac
[code]

<img width="895" alt="screen shot 2018-07-11 at 11 40 57 am" src="https://user-images.githubusercontent.com/6609556/42589761-52d90a06-84ff-11e8-8cbb-a15fbea2112a.png">

[2018-07-11 17:43] zethraeus commented on #100
Here are two more which are unaffected by resetting the database in 1.0.2
https://etherscan.io/tx/0x3949d032a5fbbd42dca6a1b242fe7e2fdae5e6aa0f07a6fea28388139d79e697
https://etherscan.io/tx/0x87d1484722734718dfd31696ef8d025f128bc77fffc5aeb714b444aec10a7d20

[2018-07-11 17:48] nuevoalex commented on #100
Right now to delete the DB you have to be connected to the Ethereum endpoints before pressing the button to Reset (This is being made more clear in the UI currently)

If you want to be absolutely sure you've deleted the DB you can still do so manually by deleting the .db files in you application data directory:

Mac OSX : ~/Library/Application\ Support/augur

Windows : %AppData%\augur

Linux : ~/.

[2018-07-11 18:04] page1 commented on #130
Some way to understand how much "Buying Power" I have left would be great. And understand how much "risk" I have outstanding waiting for markets to resolve.

[2018-07-11 18:26] jacoblyles opened #132 "Checksums and developer signatures not available on release page"
I'd like to be able to verify the checksums and signatures of the binaries I download and run on my machine. Adding that extra step ensures that the binary I'm running is the same one that left the developer's machine or build bot. I like that.

Lacking that adds GitHub as a trusted third party. That's fine for now. But it would be nice to eliminate that assumption.

The release page is here: http

[2018-07-11 18:37] gabbello commented on #100
An update to 1.0.2 and delete of the db/resynch made my order appear.

[2018-07-11 18:54] toffoo commented on #122
It is working for me.  Your screenshot looks right, I don't see the problem.

[2018-07-11 19:24] negamax opened #134 "Major: Some issue with publicTrade method?"
There are several transactions where ETH is simply getting returned back to the account

https://etherscan.io/token/0xd5524179cb7ae012f5b642c1d6d700bbaa76b96b?a=0x24e2b1d415e6e0d04042eaa45dc2a08fc33ca6cd

[2018-07-11 19:38] bthaile commented on #134
This is an known issue, we have a fix to come out in next release. Currently testing. Look for the next version of augur-app, releasing soon.

[2018-07-11 20:20] negamax commented on #134
@bthaile can I ask what's causing this issue and what fix is being applied to remedy it?

[2018-07-11 20:22] nuevoalex commented on #134
@negamax The relevant fix can be found here: https://github.com/AugurProject/augur.js/commit/17388be965f57c5d2d292e414e91c6bb557db8a3

The trading functions this used to call have on contract gas minimums on them which are far higher than the gas actually required to do the trades. We patched trading to get estimates that are accurate which made them lower than the on contract minimums.

This chan

[2018-07-11 20:42] justinbarry commented on #77
Duplicate of #78. Please track progress there.

[2018-07-11 20:42] #77 closed

[2018-07-11 20:43] petervecchiarelli commented on #82
Duplicate of #78. Please track progress there.

[2018-07-11 20:43] #82 closed

[2018-07-11 20:46] petervecchiarelli commented on #83
Duplicate of #78 please track progress there.

[2018-07-11 20:46] #83 closed

[2018-07-11 20:46] petervecchiarelli commented on #88
Duplicate of #78  please track progress there.

[2018-07-11 20:47] petervecchiarelli commented on #89
Duplicate of #78  please track progress there.

[2018-07-11 20:48] petervecchiarelli commented on #95
Duplicate of #78  please track progress there.

[2018-07-11 21:29] Hughesyy commented on #106
I just staked another 1 REP and this time it said "buy confirmed" and when I refreshed the page it still says "0 REP staked".

That's 2 REP which appears to now be lost but I should hope that these have successfully been staked.

TxHash; 0xa3c76f46a4560017e946a3c0dd9696f54e0b0bcd6aae343f99076878ea39d23b

[2018-07-11 21:30] #110 closed

[2018-07-11 21:35] nuevoalex commented on #106
This is a known issue with Augur Node becoming corrupt during processing. The TXs did occur as you've seen though and your funds are still there in the form of Participation Tokens.

You can confirm this currently by deleting your Augur Node Database here:

Mac OSX : ~/Library/Application\ Support/augur

Windows : %AppData%\augur

Linux : ~/.augur

and syncing.

When the issue is resolved simply r

[2018-07-11 21:36] Hughesyy commented on #106
Thank you very much, appreciate the work :)

[2018-07-11 22:43] bthaile commented on #78
Is the linux directory stated in the README correct?

[2018-07-11 22:48] zach-is-my-name commented on #78
@bthaile I got the .deb from the releases page (directed from Augur.net), dpkg'ed and ran.... where is the README?

[2018-07-11 22:50] bthaile commented on #78
I should have said repo README.
https://github.com/AugurProject/augur-app

[2018-07-11 22:55] bthaile commented on #132
Yes, we’ll publish the checksum. Thanks for the heads up.

[2018-07-11 22:57] negamax opened #139 "Feature Request : Disable bets on markets after closing time"
Augur UI currently allows bet taking on markets even when they are further to the time set by the creator. Bet taking on these markets should be disabled with possibly a notification or some other cue

[2018-07-11 23:03] justinbarry commented on #100
This looks to be resolved with the remedial steps above. Closing.

[2018-07-11 23:03] #100 closed

[2018-07-11 23:03] justinbarry commented on #100
Related to #78

[2018-07-11 23:04] zach-is-my-name commented on #78
Yes it's correct thanks

On Wed, Jul 11, 2018 at 6:43 PM, Tom Haile <notifications@github.com> wrote:

[2018-07-11 23:04] negamax opened #140 "Feature Request : Allow watching/favouriting a market in Augur UI"
Some kind of a star icon or something similar that can allow users to quickly navigate to them

[2018-07-11 23:05] #140 closed

[2018-07-11 23:07] bthaile commented on #139
We keep the markets open for trading forever. Thats the way the smart contracts are written.

This allows for winners to sell shares and free up their ETH for other trading.

It also opens up traders who dont mind waiting to trade and make a little profit just for being patient.

[2018-07-11 23:16] negamax commented on #139
@bthaile thanks. Both scenarios are interesting and should be supported.

[2018-07-11 23:16] #139 closed

[2018-07-11 23:18] bthaile commented on #127
I totally agree, we will discuss this feature and prioritize and I hope to have it impl soon.

[2018-07-11 23:22] bthaile commented on #122
In the next augur-app we add a wait indicator, which means augur-node is downloading log and getting ready to process.
The animated ... will replace the Blocks Remaining dash.

[2018-07-11 23:23] bthaile commented on #122
There is a log file that will give you more information. Check the augur-app repo README for location.

[2018-07-11 23:54] patrickmcgillivray commented on #127
Related to port 8080 -- a local instance of Parity (with default settings) blocks requests to this port as unauthorized and requests a token (Parity signer token?). I see recommended settings for using Geth locally in the Augur documentation. However, I have not been able to find instructions regarding settings or command line flags for Parity.

[2018-07-12 02:51] mattxsmith commented on #114
This issue was fixed using Edge instead of Metamask. Closing because I don't think there error message provided is the correct logging for this issue.

[2018-07-12 02:51] #114 closed

[2018-07-12 05:48] #134 closed

[2018-07-12 05:49] joeykrug commented on #130
It shows in the markets page and portfolio page

[2018-07-12 05:49] #130 closed

[2018-07-12 05:49] joeykrug commented on #129
You can do both [if it's not letting you, this is a bug so reopen]

[2018-07-12 05:51] joeykrug commented on #123
Sorting / filtering is slated for UI

[2018-07-12 05:51] #123 closed

[2018-07-12 05:51] joeykrug commented on #120
Fixed in latest release

[2018-07-12 05:51] #120 closed

[2018-07-12 05:55] joeykrug commented on #103
You can actually access them in myetherwallet, mycrypto etc by clicking on the thing at the top left when using ledger.
Selecting it yourself in augur will be a new ui feature

[2018-07-12 05:55] #103 closed

[2018-07-12 05:55] joeykrug commented on #102
Duplicate --- multiple fixes in progress

[2018-07-12 05:55] #102 closed

[2018-07-12 06:01] joeykrug commented on #90
fixed

[2018-07-12 06:01] #90 closed

[2018-07-12 06:01] #89 closed

[2018-07-12 06:01] #88 closed

[2018-07-12 06:02] joeykrug commented on #87
yeah it's a security feature

[2018-07-12 06:02] #87 closed

[2018-07-12 06:03] #81 closed

[2018-07-12 16:03] timnugent commented on #124
Similar crash, this time with nonnegativeBalance:

[17:00:31.138] [info]
new block: 5951579 1531410684
[17:00:31.142] [info] new block: 5951579 1531410684
new block: 5951580 1531410689
[17:00:31.152] [info] new block: 5951580 1531410689
Processing 1 logs
[17:00:31.160] [info] Processing 1 logs
Fatal Error, shutting down servers { Error: SQLITE_CONSTRAINT: CHECK constraint failed: nonnegativeBalanc

[2018-07-12 16:20] timnugent opened #146 "Could not find balance for token decrease"
Ubuntu 16.04, v1.0.2, crashes like this:

[17:17:29.803] [info] Stopping Augur Node Server
Stopping Augur Node Server
[17:17:29.804] [info] Stopping Augur Node Server
[17:17:29.804] [info] Stopping Augur UI Server
[17:17:29.805] [info] Failed to startup: Could not find balance for token decrease (token: 0x1985365e9f78359a9b6ad760e32412f4a445e862, owner: 0x81a5415d07cfe64e11ebe5d5b6bd576c46d8d931)

[2018-07-12 17:09] #74 closed

[2018-07-12 17:15] petervecchiarelli commented on #75
https://app.clubhouse.io/augur/story/13750/support-for-multiple-ledger-accounts

[2018-07-12 17:17] petervecchiarelli commented on #72
https://app.clubhouse.io/augur/story/13586/github-cannot-build-from-source-with-nodejs-10-low-pri

[2018-07-12 17:23] petervecchiarelli commented on #73
https://app.clubhouse.io/augur/story/13587/database-locked-when-switching-configurations

[2018-07-12 17:29] petervecchiarelli commented on #79
https://app.clubhouse.io/augur/story/13756/github-failed-to-fetch-parent-block

[2018-07-12 17:30] petervecchiarelli commented on #80
https://app.clubhouse.io/augur/story/13593/github-type-error-invalid-chunk-size-0

[2018-07-12 17:31] petervecchiarelli commented on #84
https://app.clubhouse.io/augur/story/13757/github-suggestion-better-sync-messaging

[2018-07-12 17:32] petervecchiarelli commented on #85
https://app.clubhouse.io/augur/story/13759/github-suggestion-enable-inspector

[2018-07-12 17:34] petervecchiarelli commented on #86
https://app.clubhouse.io/augur/story/13763/github-request-fiat-prices

[2018-07-12 17:36] petervecchiarelli commented on #92
https://app.clubhouse.io/augur/story/13764/github-app-window-too-large

[2018-07-12 17:36] #95 closed

[2018-07-12 17:37] petervecchiarelli commented on #96
https://app.clubhouse.io/augur/story/13765/github-add-more-preset-networks

[2018-07-12 17:40] petervecchiarelli commented on #99
Duplicate of #78  Please follow progress there

[2018-07-12 17:40] #99 closed

[2018-07-12 17:41] petervecchiarelli commented on #104
https://app.clubhouse.io/augur/story/13770/github-creating-initial-liquidity-doesn-t-work

[2018-07-12 17:43] petervecchiarelli commented on #105
https://app.clubhouse.io/augur/story/13772/github-unable-to-connect-to-local-parity-node-invalid-token

[2018-07-12 17:44] petervecchiarelli commented on #106
Duplicate of #78 please follow progress there

[2018-07-12 17:44] #106 closed

[2018-07-12 17:46] petervecchiarelli commented on #113
https://app.clubhouse.io/augur/story/13773/github-disconnects-when-clicking-submit-when-purchasing-participation-tokens

[2018-07-12 17:47] petervecchiarelli commented on #115
https://app.clubhouse.io/augur/story/13774/github-nuke-database-doesn-t-work

[2018-07-12 17:48] petervecchiarelli commented on #117
https://app.clubhouse.io/augur/story/13775/github-when-providing-initial-liquidity-while-creating-a-market-i-can-t-cancel-an-order

[2018-07-12 17:50] petervecchiarelli commented on #119
https://app.clubhouse.io/augur/story/13776/github-can-you-off-a-shasum-for-release

[2018-07-12 17:51] petervecchiarelli commented on #121
https://app.clubhouse.io/augur/story/13777/github-failed-to-startup-object-object

[2018-07-12 17:55] petervecchiarelli commented on #122
https://app.clubhouse.io/augur/story/13778/github-geth-syncmode-light-doesn-t-work-as-a-source-for-augur-node

[2018-07-12 17:58] petervecchiarelli commented on #124
https://app.clubhouse.io/augur/story/13779/github-error-sqlite-constraint-positiveendtime

[2018-07-12 17:59] petervecchiarelli commented on #126
https://app.clubhouse.io/augur/story/13781/github-stale-orderbook-and-know-way-of-knowing-if-take-order-failed

[2018-07-12 18:00] petervecchiarelli commented on #127
https://app.clubhouse.io/augur/story/13782/github-allow-customization-of-localhost-port

[2018-07-12 18:05] petervecchiarelli commented on #128
Duplicate of #78 Please follow progress there

[2018-07-12 18:05] #128 closed

[2018-07-12 18:23] sharkcrayon commented on #92
We've got a fix in the work for this (https://app.clubhouse.io/augur/story/13690/augur-app-design-adjustments). We'll post an update when it's pushed!

[2018-07-12 18:30] petervecchiarelli commented on #85
https://app.clubhouse.io/augur/story/13597/enable-inspector-for-users-to-submit-bugs

[2018-07-12 18:42] page1 commented on #130
I think the reason I'm not seeing any orders is because of #134

[2018-07-12 18:45] page1 commented on #129
Once I click "Add order" for the buy order it grays out the options and won't let me submit a sell order

<img width="955" alt="screen shot 2018-07-12 at 12 43 40 pm" src="https://user-images.githubusercontent.com/6609556/42652974-3e19dbcc-85d1-11e8-9396-f36502206b13.png">

[2018-07-12 18:46] page1 commented on #129
@joeykrug I don't think I have the ability to reopen.

[2018-07-12 19:03] joeykrug commented on #96
Closing, there aren't any more to choose from

[2018-07-12 19:03] #96 closed

[2018-07-12 19:25] SantasNotReal opened #149 "Unable to choose an address when connecting via Ledger"
After opening the app, with ssl enabled for Ledger, and connecting via Ledger, there's no way to choose an address to connect with.

A suggestion: I'm not sure how MyEtherWallet sorts their address list when connecting via Ledger, but it would be nice to default in the same manner.

[2018-07-12 20:56] page1 commented on #149
Hi @SantasNotReal
Checkout these other issues that are probably related to your experience. #103 #75

#103 is probably the most important to you

[2018-07-12 21:20] SantasNotReal commented on #149
@page1 Thank you for pointing those out!

[2018-07-12 21:20] #149 closed

[2018-07-13 04:33] bthaile commented on #146
Doenload version 1.0.3. The syncing is more rebust.

[2018-07-13 04:33] #146 closed

[2018-07-13 04:52] bthaile commented on #122
Fixed in version 1.0.3, we added a wait indicator. The blockchain logs are being downloaded.

[2018-07-13 04:54] bthaile commented on #131
https://app.clubhouse.io/augur/story/13829/need-to-catch-websocket-errors

[2018-07-13 08:21] Chehands opened #157 "When i refresh the ui screen it logs me out (using trezor)"

[2018-07-13 09:31] TacoByte opened #158 "Fatal Error, shutting down servers Error: market and outcome not found for shareToken"
1.0.3

The app was humming along 4 blocks behind. Then I noticed it had fallen behind around 250 blocks and seemed to be stuck there. That lasted a couple minutes, then it crash quit.

[code]

[2018-07-13 10:07] timnugent commented on #121
Still getting this with 1.0.3

[2018-07-13 11:08] Chehands opened #159 "Can the width of the category and tag bars be made manually adjustable?"
The categories and tags are difficult to read and differentiate between.

[2018-07-13 14:53] Janjanjanjajaja opened #160 "Failed download - Network error"
dear devs, i keep trying to download the augur - 1.0.3 dmg file and at the end its stops ands states: Failed - Network error

Can anyone clarify what this is?

Thanks

[2018-07-13 15:12] Metang386 commented on #113
same issue using infura.

[2018-07-13 15:59] bthaile commented on #79
download version 1.0.3, you shouldn't see this issue anymore.

https://github.com/AugurProject/augur-app/releases

closing

[2018-07-13 15:59] #79 closed

[2018-07-13 18:19] nuevoalex commented on #124
@timnugent Could you update the app to version 1.0.3 and see if you still get this error?

[2018-07-13 18:20] page1 commented on #92
Yay it resizes, thank you all!

[2018-07-13 18:20] #92 closed

[2018-07-13 18:33] petong commented on #132
We are working on getting individual checksums for the installers, currently as a stopgap we are publishing latest.yml and latest-mac.yml, which have the checksums for the windows installers and the mac installers.

[2018-07-13 18:35] page1 commented on #121
Just spotted this on my 1.0.3. Restarting app to see if things improve.

[2018-07-13 18:37] justinbarry commented on #160
Are you trying to download from here? https://github.com/AugurProject/augur-app/releases/tag/v1.0.3

[2018-07-13 18:40] sharkcrayon commented on #159
@Chehands You mean on the Markets page right? The sidebars that list categories and tags?

I think we need to overhaul that section in a larger way. Making the width of those columns adjustable seems like a really stop-gap measure to a large UI problem.

[2018-07-13 18:41] sharkcrayon commented on #159
https://app.clubhouse.io/augur/story/13900/discuss-markets-list-cat-tag-menu-changes

[2018-07-13 18:43] sharkcrayon commented on #84
@aakilfernandes @ButtaTRiBot @drwasho

Does this help? We obviously have more refining to do of the Augur App design, but I'm trying to find something that will work for now while not creating any new issues.

![image](https://user-images.githubusercontent.com/4355755/42708339-ec9457e6-86d4-11e8-887a-84a6c084a046.png)

[2018-07-13 19:49] justinbarry commented on #158
@TacoByte Did this happen just after your machine woke up from sleep?

[2018-07-13 20:07] jimpo opened #161 "Fatal Error, shutting down servers Error: Could not find balance for token decrease"
The Augur node keeps crashing and can never get market data.

Release: 1.0.3, running from source
Connected to fully synced local Parity 1.10.9 node on mainnet

[code]

[2018-07-13 20:10] bthaile commented on #84
I just noticed. Bare in mind the 100% is an illistration, when augur-node is 2 blocks behind it might be at 99% but still green.

[2018-07-13 20:33] nuevoalex commented on #161
@jimpo Can you provide the full scrollback / log for this case by chance? Would be very helpful in debugging

[2018-07-13 21:16] joeykrug commented on #113
This seems to be an issue a lot of people are having

[2018-07-14 00:03] jimpo commented on #161
[code]

[2018-07-14 00:06] greenriverneo opened #164 "WIN 10 PRO - DESK TOP APP CLOSES.NO ERROR MESSAGE.BROWSER DISCONNECTS."
[log.log](https://github.com/AugurProject/augur-app/files/2194495/log.log)

[2018-07-14 00:11] Anastik opened #165 "No Transcation History /Not All Markets Showing"
I have the Augur App currently installed on my desktop and laptop. I have about 10 REP on my account. On my desktop the Augur App isn't showing all the active markets or my transaction history of buying participation tokens. Whereas on my laptop more markets are showing up and my transaction history is available.

I'm running Augur App 1.0.3 on both the desktop and laptop; I've tried uninstalling

[2018-07-14 00:16] nuevoalex commented on #165
@Anastik Could you provide your log file here?

You can find it depending on OS at:

[code]

Thanks!

[2018-07-14 00:35] Anastik commented on #165
@nuevoalex I'm in this folder but which file do you need in particular?

[2018-07-14 05:00] nuevoalex commented on #165
@Anastik the file named `log`

[2018-07-14 05:35] page1 opened #167 "Order book with equal bid & ask price"
I'm not sure how this can happen, I was under the assumption that if bid == ask price then orders should be filled.
<img width="532" alt="screen shot 2018-07-13 at 11 32 04 pm" src="https://user-images.githubusercontent.com/6609556/42721265-2510eaec-86f5-11e8-8fa6-2a1499810403.png">

https://localhost:8080/#/market?description=will_donald_trump_be_impeached_before_the_end_of_his_first_term&id=0x96

[2018-07-14 05:58] Anastik commented on #165
<img width="773" alt="screen shot 2018-07-13 at 9 56 58 pm" src="https://user-images.githubusercontent.com/33998307/42721460-d4140dac-86e7-11e8-8a90-9cb964fd0687.png">

Here's the only thing I see under that file path. And I'm also showing hidden files if that's an issue. Am I looking in the wrong spot? @nuevoalex

[2018-07-14 06:06] bthaile commented on #165
Log locations

on Linux: ~/.config/Augur/log.log
on OS X: ~/Library/Logs/augur/log.log
on Windows: %USERPROFILE%\AppData\Roaming\augur\log.log

[2018-07-14 06:35] Anastik commented on #165
Thanks @bthaile! Here you go:

[log.log](https://github.com/AugurProject/augur-app/files/2194718/log.log)

Of note you can also see the difference between my REP that's listed and the actual REP in my wallet. Again all of the balances and markets are updating correctly on my laptop.

![screen shot 2018-07-13 at 10 33 46 pm](https://user-images.githubusercontent.com/33998307/42721777-0334c734-86ed-

[2018-07-14 06:38] TacoByte commented on #158
@justinbarry No, just randomly

[2018-07-14 06:57] negamax opened #168 "UI: If I cancel the transaction for fillOrder from market screen, the bids in orderbook become un-selectable"
1. Open any market
2. Select an order and buy/sell -> review -> confirm
3. **Cancel** the transaction

Now as a user I can't interact with the orderbook at all.

[2018-07-14 08:29] nuevoalex commented on #167
@page1 You are correct. Looking into what might be going on here

[2018-07-14 20:28] rgandhi041098 opened #169 "Issue Connecting to Ethereum node"
I am connecting through the main net on update 1.0.3 and the augur app keeps freezing. It then gives me this error:
Failed to startup: Could not connect via augur.connect Error: Connection failed

[2018-07-14 20:32] bthaile commented on #169
Nake sure the urls are correct. Kill the app then, delete the config.json file then start the app.

https://github.com/AugurProject/augur-app/blob/master/README.md

Look for clearing configuration file.

If that doesnt work remove the websocket url (second one) and try to connect.

[2018-07-14 21:03] rgandhi041098 commented on #169
<img width="746" alt="screen shot 2018-07-14 at 1 59 16 pm" src="https://user-images.githubusercontent.com/41241955/42728408-9b964b70-876e-11e8-9c1d-53a3a40408e4.png">
Are these links correct?

[2018-07-14 21:05] bthaile commented on #169
They look correct to me. Did you remove the config and start up?

Did you try removing the second endpoint/link and try to connect?

I assume you are not prohibited access to that endpoint (firewall or something)

[2018-07-14 21:18] rgandhi041098 commented on #169
Do you mean removing the websocket endpoint? Because I tried that and it didn't work as well

[2018-07-14 21:21] bthaile commented on #169
That is what I meant. Can you ping the http endpoint.
Shell or command prompt
ping https://mainnet.infura.io/augur

I think its a network issue. This is the only occurance I’ve seen.

[2018-07-14 21:49] rgandhi041098 commented on #169
I think it's a network issue as well.

Had to remove the URL scheme for ping, but, `ping mainnet.infura.io/augur` resolves to nothing. `mainnet.infura.io/` resolves to an alb.

I will try to keep testing and report back.

Thanks for your help

[2018-07-15 03:33] bthaile commented on #92
We'll have a new slimmer design coming out in 1.0.4. there are menu options to save real estate in the UI.
Keep an eye out for the new release

[2018-07-15 04:57] negamax opened #170 "UI: Option to hide non traded markets in Dispute tab"
Does it matter to dispute/report on markets that had no activity (0 shares)? My guess is these markets are irrelevant in this context. There should be an option to hide these Reporting -> Dispute

[2018-07-16 03:01] fafrd commented on #113
I have a similar (but not quite same) problem. Mine seems to stay connected to the eth node, but just spits "Error: unknown account" to the console:
![image](https://user-images.githubusercontent.com/5905628/42741738-e1eeb48a-8882-11e8-9547-819194ec5a1e.png)

hoping this gets fixed before the window closes in 2 days 😬😬😬

[2018-07-16 05:52] blacktemplar commented on #170
I wouldn't say that any market is irrelevant in the context of disputing, regardless if there were trades on it or not. If we think about it game theoretically there are two economic incentives for disputing (beside the incentive to keep the Augur system working properly). The first incentive are the fees in a fee window, although you get them also if you just buy participation tokens, which is sa

[2018-07-16 06:59] whereyouatwimm opened #173 "add file containing build hashes to future releases"
hello

Just wanted to start a conversation around adding a file containing hashes for each executable produced during a designated release, preferably signed by a public pgp key for the project, to future releases. Currently, there is no secure manual verification.

wimm

[2018-07-16 08:59] stobiewan opened #174 "There is no AppImage release file"
The releases contain files for Windows, Mac and Debian. Why not replace the Debian file with an AppImage so all Linux distros have an option? With Solus currently have to build from source. It's made worse that the build scripts also rely on apt.

[2018-07-16 09:45] negamax opened #175 "Search : A bug, maybe hiding a bigger issue"
Can't find 0xa0af46c9ece9228aa47ee778f7f97d9222b551f5 market "Will the total amount of USD staked on Augur (mainnet) exceed 1 million USD 1 week after launch? (10:00AM UTC on July 17th)" when I search for Augur

[2018-07-16 09:47] bthaile commented on #175
The search box is a keyword search and is limited to only searching markets the UI has loaded.

Currently search is limited and is a issue we plan on fixing in a future release.

[2018-07-16 09:57] bthaile commented on #175
Also you can click on any market and notice the id in the url. Replace the id with your id. You can get to that market that way.

[2018-07-16 10:03] negamax commented on #175
@bthaile Thanks. Just to highlight, this was at the max zoom level when no category was selected.

[2018-07-16 10:07] negamax commented on #175
@bthaile id replacement doesn't work. Tried with and without description key

[2018-07-16 10:26] timnugent opened #176 "Error: Received log for block hash 0xabc when asking for logs of block 0xdef"
Ubuntu 16.04, 1.0.3:

Error: Received log for block hash 0xa15f139497b384070477103ddada406a61ed0c2b27ec54cbd4a6b455fb47d6e4 when asking for logs of block 0x4d0f94ac8ba0b9c06113d662b36faf7ffe42c41e598a09658fd7ab98ab1ba757.
    at /opt/augur/resources/app.asar/node_modules/augur-blockstream/output/source/log-reconciler.js:154:19
    at Array.forEach (<anonymous>)
    at ensureBlockhash (/opt/augur/r

[2018-07-16 10:30] Janjanjanjajaja commented on #160
Hey Justin, now it worked fine. Thanks

Op vr 13 jul. 2018 om 20:37 schreef Justin <notifications@github.com>:

[2018-07-16 14:36] sharkcrayon commented on #115
@TacoByte Can you retest and let us know if this is working for you with the 1.0.4 release? The Reset Database option is now in the app's Settings menu.

[2018-07-16 14:41] sharkcrayon commented on #84
This design has been pushed with 1.0.4. I'd still love to hear any further feedback! Closing for now.

[2018-07-16 14:41] #84 closed

[2018-07-16 14:53] sharkcrayon commented on #85
@aakilfernandes This is enabled now in version 1.0.4. You'll find it in the app's Settings menu.

[2018-07-16 14:53] #85 closed

[2018-07-16 15:09] JohnDanz commented on #104
@CheckRazor are you still having this issue after updating to the latest version of augur-app? Please let me know as I am not seeing this behavior on test networks. The latest version as of this writing is v1.0.3. https://github.com/AugurProject/augur-app/releases

[2018-07-16 16:11] bthaile commented on #175
Just curious, what url did you try after replacing the id?

[2018-07-16 19:53] aakilfernandes commented on #84
@sharkcrayon is it syncing chain data, or data from somewhere else? I assume somewhere else (cause otherwise it would start at 100% with Infura). So I'd use something like "syncing Augur data" instead of "syncing with mainnet node". But thats just IMHO and feel free to ignore =)

[2018-07-17 00:14] petong commented on #174
we plan on releasing a snap package in addition to .deb files, can look into appimage as well.

[2018-07-17 00:15] petong commented on #173
dupe of issue #132

[2018-07-17 00:15] #173 closed

[2018-07-17 00:16] petong commented on #132
checksum files planned for 1.0.5 release.

[2018-07-17 01:18] fafrd commented on #113
still having this problem in 1.0.4

[2018-07-17 06:02] nuevoalex commented on #113
Discovered the cause of the problem. Should be fixed in an upcoming release when this gets merged and released: https://github.com/AugurProject/augur-ui/pull/2020

[2018-07-17 07:37] enolan opened #181 "constraint failed: positiveEndTime"
I downloaded the .deb and started syncing a few minutes ago. Syncing appears to have failed, with the following message, at 33.69%.

Server Error: "insert into `markets` (`category`, `creationBlockNumber`, `creationFee`, `designatedReportStake`, `designatedReporter`, `endTime`, `feeWindow`, `finalizationBlockNumber`, `forking`, `initialReportSize`, `longDescription`, `marketCreator`, `marketCreato

[2018-07-17 12:13] sharkcrayon commented on #122
@TacoByte Can you test this again with the latest app release?

[2018-07-17 12:21] sharkcrayon commented on #121
@timnugent @page1 Are you still getting this with v1.0.4?

[2018-07-17 12:33] sharkcrayon commented on #126
@bartleyg Are you still seeing this order on the books? I'm not seeing it there.

[2018-07-17 13:07] GroovyGrovesy opened #182 "Feature Request: Manually choose Data Folder"
As the title says, I'd like to be able to choose the data folder as I have a small ssd C: drive.

I've tried using '-datadir=E:\Crypto\Augur' like in other wallets but with no success.

Thanks

[2018-07-17 13:11] timnugent commented on #121
Just did a sync with 1.0.4 and didn't see it, you can probably close this

[2018-07-17 13:52] page1 commented on #121
@sharkcrayon Have not run into this on 1.0.4

[2018-07-17 14:59] petervecchiarelli commented on #157
https://app.clubhouse.io/augur/story/14116/github-when-i-refresh-the-ui-screen-it-logs-me-out-using-trezor

[2018-07-17 15:00] petervecchiarelli commented on #158
https://app.clubhouse.io/augur/story/14117/github-fatal-error-shutting-down-servers-error-market-and-outcome-not-found-for-sharetoken

[2018-07-17 15:10] page1 opened #183 "Standby/Sleep Support"
I feel like when my computer comes out of standby Augur tends to show that it's 100% synced, but if I restart Augur it will sync a very large number of blocks suggesting that it wasn't actually synced automagically after the computer woke from sleep.

It would be great if the sync would resume after wake from sleep.

[2018-07-17 15:11] petervecchiarelli commented on #160
https://app.clubhouse.io/augur/story/14122/github-failed-download-network-error

[2018-07-17 15:19] petervecchiarelli commented on #161
https://app.clubhouse.io/augur/story/14123/github-fatal-error-shutting-down-servers-error-could-not-find-balance-for-token-decrease

[2018-07-17 15:44] page1 opened #184 "No luck Participating in fee window"
In reporting-dispute-markets, I click Participate. Buy Participation tokens, Max, Review, Submit.... and then I get the **reconnecting** message. Then after a bit I'm back at reporting-dispute-markets, and my ledger has not been sent any transactions to confirm.

I'm on 1.0.4 and don't see any obvious stack trace messages in the log.

Anyone else have luck participating in the fee window?

[2018-07-17 15:49] petong commented on #164
@greenriverneo Can you install the 1.0.4 release and see if you still have issues?

https://github.com/AugurProject/augur-app/releases/tag/v1.0.4

[2018-07-17 15:56] epheph commented on #161
@jimpo I think the node you are sync'ing from is not storing historical logs:
[code]

[2018-07-17 15:57] epheph commented on #161
Here is a gist of a curl command you can run to verify if your node returns the right data when queried for logs:

https://gist.github.com/epheph/e9b0d5f033cfe9f71e5c111a3567a1ee

[2018-07-17 16:18] alexfisher opened #185 "Feature request: configure derivation path for Ledger Nano S"
Allow users that use a Ledger hardware wallet with Augur to configure different derivation paths (e.g. m/44' /60' /0' used by MEW/MyCrypto as default).

[2018-07-17 16:43] sharkcrayon commented on #84
@aakilfernandes Augur Node is syncing with the Ethereum blockchain. It's reading log data and compiling/processing data for presentation in the UI.

[2018-07-17 16:43] page1 commented on #184
Found duplicate issue #113

[2018-07-17 16:43] #184 closed

[2018-07-17 16:46] page1 commented on #185
Hi @alexfisher ,
I think this looks similar to a few existing issues #103 #75

[2018-07-17 16:50] alexfisher commented on #185
#75 is a different issued, but it looks like on #103 Joey concluded selecting the derivation path yourself in Augur will be a new UI feature and then closed the ticket.  Just wasn't sure if that needs to be captured here as an open issue, or if it's been added to a feature list somewhere?

[2018-07-17 16:54] greenriverneo commented on #164
Trying now....

*Thomas J. Suich*
*IL Licensed Attorney, Managing Broker, CPA*
*317 Grape Vine Trail, Oswego, IL 60543*
*c: (630) 815.7073*
*f: (888) 885.0725*
*tsuichlaw@gmail.com <tsuichlaw@gmail.com> *

*BE AWARE!  ONLINE BANKING FRAUD IS ON THE RISE.  IF YOU RECEIVE AN EMAIL
FROM MY OFFICE CONTAINING WIRE TRANSFER INSTRUCTIONS, PLEASE CALL MY OFFICE
IMMEDIATELY.  *

*I DO NOT EVER SEND WIRE IN

[2018-07-17 18:12] greenriverneo commented on #164
I did a clean install and it works great.  I am trying to make my first bet
but mask pops up twice and i confirm both times, the app tells me order
placed by I do not see it anywhere nor on etherscan.  Maybe network lag.
Nice job on the fix, very stable!

*Thomas J. Suich*
*IL Licensed Attorney, Managing Broker, CPA*
*317 Grape Vine Trail, Oswego, IL 60543*
*c: (630) 815.7073*
*f: (888) 885.0725*

[2018-07-17 18:13] greenriverneo commented on #164
I see them pending in the app.  I made two.  Looking good!

*Thomas J. Suich*
*IL Licensed Attorney, Managing Broker, CPA*
*317 Grape Vine Trail, Oswego, IL 60543*
*c: (630) 815.7073*
*f: (888) 885.0725*
*tsuichlaw@gmail.com <tsuichlaw@gmail.com> *

*BE AWARE!  ONLINE BANKING FRAUD IS ON THE RISE.  IF YOU RECEIVE AN EMAIL
FROM MY OFFICE CONTAINING WIRE TRANSFER INSTRUCTIONS, PLEASE CALL MY OFFICE

[2018-07-17 19:17] nuevoalex commented on #73
@negamax Can you still produce this issue on the latest version of augur-app? I haven't been able to reproduce it

[2018-07-17 19:57] page1 commented on #167
Found another one
<img width="1186" alt="screen shot 2018-07-17 at 1 57 07 pm" src="https://user-images.githubusercontent.com/6609556/42842067-5841b6fe-89c9-11e8-8c0f-42d88d93abcf.png">

[2018-07-17 22:59] levi opened #188 "Failure syncing MAINNET on first run"
Augur 1.0.4 currently fails at 23.06% for me right now:

[code]

[2018-07-17 23:56] xenoexclusive opened #189 "Participation Tokens being staked in separate accounts"
Supposedly users are actively prevented from buying any tokens in a non active fee window. So it should be impossible to be on two different ones, but unfortunately somehow it looks as if this exactly what is happening.

The following PT addresses have both had deposits in the past 48 hours.

https://etherscan.io/address/0xa930e1b4606846ddd084adb4617b6ebb392fb103
https://etherscan.io/address/0xba6

[2018-07-18 02:07] bthaile commented on #121
@timnugent @page1 Checking in again, have y'all seen this issue, ` Failed to startup: [object Object]`?

[2018-07-18 04:14] bthaile commented on #168
https://app.clubhouse.io/augur/story/14181

[2018-07-18 04:16] bthaile commented on #165
Have you grabbed the newest version of augur-app? Are you still having issues? We have had some issues with data gaps. They should be fixed in the newest release 1.0.4

[2018-07-18 04:48] enolan commented on #181
Yep.

[2018-07-18 11:50] mostar opened #190 "Fail to connect using ubuntu 14.04"
Hi,

It fail after pressing "connect" using the default configuration.
Version 1.0.4.

Error message:

[14:45:22.191] [info] network name Mainnet
[14:45:22.284] [info] Starting Augur UI Server
[14:45:22.285] [info] Looking for certificate files in /home/username/.augur
connecting to augur-node: undefined
connecting to ethereum-node: {"http":"https://mainnet.infura.io/augur","ws":"wss://mainnet.inf

[2018-07-18 13:28] hoffmabc opened #191 "Ability to change default 8080 web port from electron app"
As a web developer I often have an app server running on 8080. It would be convenient to be able to change that port from the UI or at least have the ability to do so when there's a conflict.

[2018-07-18 13:39] page1 commented on #183
Confirming picture of not resuming after sleeping computer overnight.
<img width="826" alt="screen shot 2018-07-18 at 7 36 46 am" src="https://user-images.githubusercontent.com/6609556/42885175-87b1ecee-8a5d-11e8-940b-af6944ac0e24.png">

[2018-07-18 16:17] petervecchiarelli commented on #164
https://app.clubhouse.io/augur/story/14193/github-win-10-pro-desk-top-app-closes-no-error-message-browser-disconnects

[2018-07-18 16:29] petervecchiarelli commented on #165
https://app.clubhouse.io/augur/story/14195/github-no-transaction-history-markets-not-showing-at-all

[2018-07-18 16:32] petervecchiarelli commented on #167
https://app.clubhouse.io/augur/story/14196/github-order-book-with-equal-bid-ask-price

[2018-07-18 16:39] petervecchiarelli commented on #169
https://app.clubhouse.io/augur/story/14198/github-issue-connecting-w-ethereum-node

[2018-07-18 16:40] petervecchiarelli commented on #170
https://app.clubhouse.io/augur/story/14200/github-ui-option-to-hide-non-traded-markets-in-dispute-tab

[2018-07-18 16:42] petervecchiarelli commented on #176
https://app.clubhouse.io/augur/story/14201/github-error-received-log-for-block-hash-0xabc-when-asking-for-logs-of-block-0xdef

[2018-07-18 16:44] petervecchiarelli commented on #181
https://app.clubhouse.io/augur/story/14202/github-constraint-failed-positiveendtime

[2018-07-18 16:47] petervecchiarelli commented on #182
https://app.clubhouse.io/augur/story/14203/github-feature-request-manually-choose-data-folder

[2018-07-18 16:48] petervecchiarelli commented on #183
https://app.clubhouse.io/augur/story/14204/github-standby-sleep-support

[2018-07-18 16:49] petervecchiarelli commented on #185
Duplicate w/ #103 please track progress there

[2018-07-18 16:50] petervecchiarelli commented on #188
https://app.clubhouse.io/augur/story/14205/github-failure-syncing-mainnet-on-first-run

[2018-07-18 16:51] petervecchiarelli commented on #190
https://app.clubhouse.io/augur/story/14206/github-fail-to-connect-using-ubuntu-14-04

[2018-07-18 16:54] petervecchiarelli commented on #191
https://app.clubhouse.io/augur/story/14207/github-ability-to-change-default-8080-web-port-from-electron-app

[2018-07-18 17:14] page1 commented on #167
<img width="1194" alt="screen shot 2018-07-18 at 11 14 28 am" src="https://user-images.githubusercontent.com/6609556/42896976-c5edbbe6-8a7b-11e8-9907-473ef0396733.png">

[2018-07-18 17:58] d1gitalflow opened #194 "augur app stuck on 70.58% sync"
Infura seems to have troubles to seed augur?

![augur1](https://user-images.githubusercontent.com/26913156/42898932-7baa378a-8abc-11e8-921f-ed417cec642c.JPG)

[2018-07-18 18:47] page1 opened #195 "Timezone Support"
I sort of wish I could pick the timezone the app works in. Since its a global market I'd love to just leave it in UTC instead of my local time.

[2018-07-18 18:51] page1 commented on #195
I've made a few markets with some departures between the markets expiration and the descriptive text because of not getting the timezone's right. Specifically when creating markets that pass Day Light Savings boundary's.

Keeping it all in UTC everywhere would help avoid this

[2018-07-18 19:11] page1 commented on #195
Maybe some markdown or something would make it easy to put the market expiration time in the title and description so they always say the same thing.

[2018-07-18 19:59] GroovyGrovesy commented on #182
What's that??? I'm not signing up so you'll have to tell me!

[2018-07-18 20:00] negamax opened #196 "Phantom orders on *some* order books"
I have seen this on multiple markets. Could be related to gas issue where certain amount is required to activate further trigger

E.g. 0x212cd5cf0fe10d858b458f31291f4a4a43cf623c and 0xb6010f3fd93434cbdd98d68b71984030a0156a56

have some orders on sell *green* side which can't be taken. Seems like multiple people have tried as there's one buy bid higher than the sell

[2018-07-18 20:47] nuevoalex commented on #196
@negamax This is a known issue related to orderbooks we're working out a solution to currently. We should have a fix and more information in an upcoming release

[2018-07-18 21:19] joeykrug commented on #195
UI should show when a market was created imo + allow user to pick a timezone imo

[2018-07-18 22:09] Victor2399 commented on #188
same

[2018-07-18 23:27] Sm00g15 opened #197 "Not Able to Create A Market With Trezor on Augur"
Everything is correct, and when I go to click "Submit" I get hit with this error:

![screen shot 2018-07-19 at 11 26 19 am](https://user-images.githubusercontent.com/14209806/42913036-bdb74070-8b46-11e8-8ecc-ac76bb730220.jpg)

[2018-07-18 23:35] nuevoalex commented on #197
@Sm00g15 There should be a red notice in your browser bar which you can click to enable popups then try again

[2018-07-18 23:55] Sm00g15 commented on #197
Yup that worked! Thank you!

For any that run into this issue make sure you click “Always show popups from localhost:8080” but ALSO CLICK THE LINK to get the popup to display immediately.

[2018-07-19 02:45] BrianSipple commented on #188
I'm seeing the same screen @harriswarren is seeing.

[2018-07-19 03:42] negamax commented on #196
@nuevoalex good to know this is known

[2018-07-19 03:42] #196 closed

[2018-07-19 03:48] negamax opened #199 "Claim Window"
1. It would be good to have two buttons for claiming ETH and REP separately. There are two transactions on one click. The amount of ETH may be lower than the gas fee and user may want to accumulate.

2. I made multiple transactions for participation tokens. They don't get displayed correctly. Sometimes 0 on the Dispute window, sometimes previous ones at claim window. I see all of them now in claim

[2018-07-19 04:01] nuevoalex commented on #167
@page1 A fix for this will be coming in an upcoming release

[2018-07-19 05:32] mitchelluf opened #200 "Loading screen contains server error - has happened twice"
<img width="1128" alt="augur" src="https://user-images.githubusercontent.com/41412857/42923437-4f63a238-8ada-11e8-80a4-728ffe511397.png">

[2018-07-19 11:18] ascjones opened #201 "Error: Could not find balance for token decrease"
**Augur App Version: 1.0.4**

When first connecting to my local Parity node I get the following error:

`Error: Could not find balance for token decrease (token: 0x1985365e9f78359a9b6ad760e32412f4a445e862, owner: 0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98)`

![augur](https://user-images.githubusercontent.com/75586/42939490-cf118766-8b4d-11e8-813e-3c8fa4011f82.png)

[2018-07-19 12:43] negamax opened #202 "Server error while syncing on 1.04 - happening frequently"
Can't seem to make it work
<img width="912" alt="screen shot 2018-07-19 at 14 41 29" src="https://user-images.githubusercontent.com/1029486/42943071-19dee338-8b62-11e8-92f2-4acf481a0342.png">

[2018-07-19 13:58] kevincw01 opened #203 "cannot connect to local parity node"
parity is synced.  error message is log is
`[2018-07-19 06:34:10.267] [info] network name Local
[2018-07-19 06:36:52.517] [info] Stopping Augur Node Server
[2018-07-19 06:36:52.517] [info] Stopping Augur Node Server
[2018-07-19 06:36:52.517] [info] Stopping Augur UI Server
[2018-07-19 06:36:59.299] [info] network name Mainnet
[2018-07-19 06:37:00.759] [info] Starting Augur UI Server
[2018-07-19 06

[2018-07-19 14:19] pimato commented on #202
same problem here:

<img width="902" alt="screen shot 2018-07-19 at 4 18 46 pm" src="https://user-images.githubusercontent.com/5337809/42948284-725203a8-8b6f-11e8-88e7-907cb50ef6e9.png">

[2018-07-19 14:32] ascjones commented on #201
Duplicate of #161

[2018-07-19 14:32] #201 closed

[2018-07-19 17:34] gggh000 commented on #202
Got the same error.

[2018-07-19 17:35] gggh000 opened #204 "Can not sync blocks"
It become unresponsive at block 0 sync. Using Windows 10 :
Using win-augur-1.0.x.exe after installation.

[2018-07-19 18:27] page1 opened #205 "Feature Request & Idea: Make markets with liquidity easier to find"
When browsing in the markets tab its currently difficult to find markets that have interesting bids/asks/depth/rate of change.
<img width="982" alt="screen shot 2018-07-19 at 12 15 26 pm" src="https://user-images.githubusercontent.com/6609556/42961923-84dde27a-8b4d-11e8-8d49-4df962e6bf2d.png">
There are a lot of ways to address this (Filters, sorting) but I think a cool visual (if sticking with th

[2018-07-19 18:32] Anastik commented on #165
Yep this is fixed now. Closing out the issue.

[2018-07-19 18:32] #165 closed

[2018-07-19 18:32] Anastik commented on #204
@gggh000 Are you updating from a previous version of the Augur App? As in did you have v 1.0.3 installed and you're now updating to v 1.0.4?

[2018-07-19 18:34] Anastik commented on #202
Yeah, I've had this issue too. Your best bet is to close everything out and re-sync. I'd also recommend using [`augur.casino`](augur.casino) to do your trading and interact with the UI. It's a little less secure because it isn't your own node, but as long as you're running Metamask you should be good to go. Let me knmow if that works.

[2018-07-19 18:36] Anastik commented on #200
Unfortunately this has been a frequent issue. I'd recommend using augur.casino until the issue can get resolved. If you really want to try running your own node your only options are trying to shut it down and re-open it. Maybe you could try reinstalling.

But I'd recommend using augur.casino for getting a feel for the Augur UI and conducting small trades to get your feet wet.

[2018-07-19 18:38] Anastik commented on #194
Your best bet is to use augur.casino if you want to interact with the Augur App. I've had similar issues, too. The way I've found to fix it is simply reopening the app. Maybe even do a complete reinstall of v 1.0.4.

[2018-07-19 18:47] page1 opened #206 "Scalar Market - Units Missing"
When browsing markets the scalar markets show the units on the price bar.
<img width="1092" alt="screen shot 2018-07-19 at 12 43 41 pm" src="https://user-images.githubusercontent.com/6609556/42963410-66815ca4-8b51-11e8-8bcb-e1e0b155467a.png">

However when you click to view the market the units are not present on the market depth, orderbook, or outcomes tab and are not listed anywhere on the page.

[2018-07-19 19:26] mitchelluf commented on #200
I seem to be having an issue with augur.casino as well. Says the following when I try to connect to the node:

There was an issue connecting to the nodes, please try again.

[2018-07-19 20:33] jorisbontje opened #207 "Error: SQLITE_ERROR: too many SQL variables"
Augur App 1.0.4
Connected to: MAINNET

After visiting http://localhost:8080/#/reporting-dispute-markets the following error appears in the App Developer console:

[code]

Previous console log lines:
[code]

[2018-07-20 00:36] gggh000 commented on #204
IT says below the version is 1.0.4. Thanks.,

[2018-07-20 01:09] CheckRazor commented on #104
@JohnDanz I tested this issue using v 1.0.4 with local geth and metamask to create a binary market with initial liquidity on mainnet.  I submitted the market and after roughly 5 minutes in pending status I notice geth output say Error "Demoting invalidated transactions" .  It seems because the initial market transaction wasn't validated in a certain amount of time the additional liquidity transact

[2018-07-20 02:08] BrianSipple commented on #204
Not to spam -- just helping to keep track -- but this seems to be related to #202, #194, #190, and #188.

[2018-07-20 03:24] Bomper commented on #191
This is a dupe of #127, please close.

[2018-07-20 03:25] Bomper opened #209 "Add icon for the Linux app"
I've just installed the .deb and noticed it lacks an application icon.

[2018-07-20 03:26] hoffmabc commented on #191
As long as it’s acknowledged that this should be possible through the electron UI in fine with that.

[2018-07-20 03:26] Bomper commented on #202
I've found that you can just click "Switch network" and syncing will resume. No need to restart the app.

[2018-07-20 03:29] tomkysar commented on #191
@hoffmabc definitely have gotten this feedback before & agree, it's on the road-map for some point in the near future.

[2018-07-20 03:30] hoffmabc commented on #191
Awesome. Looking forward to it.

[2018-07-20 03:30] #191 closed

[2018-07-20 03:51] tomkysar commented on #209
cc: @petong

[2018-07-20 07:20] petervecchiarelli commented on #182
@GroovyGrovesy haha it's just a way for us to track what issues have been submitted and who's working on these in our internal project management tool.

[2018-07-20 07:22] petervecchiarelli commented on #194
Duplicate of #204  Please follow progress there.

[2018-07-20 07:22] #194 closed

[2018-07-20 07:23] petervecchiarelli commented on #188
Duplicate of #204  Please follow progress there.

[2018-07-20 07:23] #188 closed

[2018-07-20 07:23] petervecchiarelli commented on #190
Duplicate of #204  Please follow progress there.

[2018-07-20 07:25] petervecchiarelli commented on #195
https://app.clubhouse.io/augur/story/14281/github-timezone-support

[2018-07-20 07:27] petervecchiarelli commented on #197
https://app.clubhouse.io/augur/story/14282/github-not-able-to-create-a-market-with-trezor-on-augur

[2018-07-20 07:28] petervecchiarelli commented on #199
https://app.clubhouse.io/augur/story/14283/github-claim-window

[2018-07-20 07:29] petervecchiarelli commented on #200
https://app.clubhouse.io/augur/story/14284/github-loading-screen-contains-server-error-has-happened-twice

[2018-07-20 07:29] petervecchiarelli commented on #202
Duplicate with #204 Please track progress there.

[2018-07-20 07:29] #202 closed

[2018-07-20 07:31] petervecchiarelli commented on #203
https://app.clubhouse.io/augur/story/14285/github-cannot-connect-to-local-parity-node

[2018-07-20 07:32] petervecchiarelli commented on #204
https://app.clubhouse.io/augur/story/14286/github-cannot-sync-blocks

[2018-07-20 07:33] petervecchiarelli commented on #205
https://app.clubhouse.io/augur/story/14287/github-feature-request-idea-make-markets-with-liquidity-easier-to-find

[2018-07-20 07:34] petervecchiarelli commented on #206
https://app.clubhouse.io/augur/story/14288/github-scalar-market-units-missing

[2018-07-20 07:35] petervecchiarelli commented on #207
https://app.clubhouse.io/augur/story/14289/github-error-sqlite-error-too-many-sql-variables

[2018-07-20 09:17] mostar commented on #190
Are you sure its Duplicate to  #204. Not the same errors.

[2018-07-20 15:10] joeykrug opened #210 "Augur app crashes when syncing"
[code]

[2018-07-20 15:14] joeykrug commented on #210
Restarted it, got this:

[code]

Then it eventually gets to
[code]

and hangs / stops doing anything

[2018-07-20 15:15] joeykrug commented on #210
At the same time my remote geth node gives a write tcp timeout error

[2018-07-20 15:25] joeykrug opened #211 "If I quit during middle of a bulk sync it should resume where I left off"

[2018-07-20 16:11] joeykrug commented on #210
[code]

too even when it's actually still syncing on a solid node sometimes

[2018-07-20 16:24] joeykrug commented on #210
<img width="508" alt="screen shot 2018-07-20 at 9 22 50 am" src="https://user-images.githubusercontent.com/5925937/43013713-a589494a-8bfe-11e8-98e5-e6a4d58aafe6.png">

^ when syncing from localhost

[code]

in console

[2018-07-20 17:07] nuevoalex commented on #207
@jorisbontje We're working on a fix for this currently. That UI currently doesn't paginate so its attempting to load dispute information for the 200+ markets in the current and next window. Making it paginated is in progress.

[2018-07-20 17:20] JohnDanz commented on #104
@CheckRazor Sounds like the first issue was a geth/connection issue, not really an augur specific issue. I say this because when you raised gas price and tried again it worked fine, (outside that crash of augur-app... which could be a syncing issue). No liquidity transactions makes perfect sense to me, i wouldn't expect them to start prompting you on a crash. They are stored in memory until they a

[2018-07-20 20:01] page1 opened #213 "Feature/Question: Order of dispute markets"
Since we have too many markets finishing up see #207 (This is a good problem to have!)

I was wondering how are dispute markets going to be ordered when presented to the user? We are already over 200 markets closing, and the end of year and monthly market closure windows are going to produce more markets to be checked than can be expected from any ordinary user.

In this vain, I was wondering are

[2018-07-20 21:15] epheph commented on #211
https://github.com/AugurProject/augur-node/pull/559

[2018-07-21 01:47] joeykrug commented on #104
A bunch of other people have been reporting this issue too

[2018-07-21 02:34] jimpo commented on #161
Thanks. You are right, I was using a warp-synced Parity node which does not download historical receipts.

[2018-07-21 02:34] #161 closed

[2018-07-21 02:37] xenoexclusive commented on #161
If historical receipts are required, then I'm baffled and utterly confused at how people say they have augur functioning successfully with a light client. Because I imagine reasons like this are why I am having troubles doing so.

[2018-07-21 02:45] harriswarren commented on #204
Mainnet on Infura seems to not sync.   Anyone have a good alternate Mainnet Augur endpoint?  I am trying to avoid a local version.  For Augur to be successful this has to be easier...  I am still trying to access the outcome of the World Cup.

Is this just an Ethereum sync issue?

[2018-07-21 03:55] jimpo commented on #161
@xenoexclusive Parity light client is not the same as warp client. The light client can actually respond more accurately to certain requests (such as historical receipts, which it fetches on demand). The getLogs call does not work for Parity light client currently, but that appears to be a bug, which I'm working on.

[2018-07-21 04:33] toffoo commented on #122
Syncing 1.0.4 with geth --syncmode light is still working good for me

[2018-07-21 04:40] junw3i commented on #204
same issue as @harriswarren

[2018-07-21 05:54] pgebheim opened #215 "Merge Augur Node for 1.0.6"
https://github.com/AugurProject/augur-node/milestone/1

[2018-07-21 05:58] pgebheim opened #216 "Merge Augur UI for 1.0.6"
https://github.com/AugurProject/augur-ui/milestone/7

[2018-07-21 06:14] pgebheim opened #217 "Merge Augur Node for 1.0.7"
https://github.com/AugurProject/augur-node/milestone/2

[2018-07-21 06:14] pgebheim opened #218 "Merge Augur UI for 1.0.7"
https://github.com/AugurProject/augur-ui/milestone/8

[2018-07-21 18:46] joeykrug commented on #213
Good feedback

Right now they're sorted by trading activity. So markets with more activity / money in them are shown at first.

They're also not randomized so that if you want to check them one day, then resume checking later, you don't have to view the whole list in one sitting

I like some of these ideas, good for a new release

I would do

1. Markets user has rep in / is a reporter in / dispute

[2018-07-21 21:06] enolan opened #221 "App should show user's current staked REP and ETH bonds somewhere"
This info is important when you're counting up your assets.

Edit: also Ether reserved in open orders

[2018-07-22 04:53] joeykrug commented on #221
I had a list of things I think the UI should allow you to see, adding yours + mine together cc @petervecchiarelli

UI should allow you to:
- see open interest in individual markets
- see total open interest
- see total open interest that will resolve in current fee window
- see total fees in a window
- user's current staked rep and eth bonds
- eth reserved in open orders

[2018-07-22 12:05] CptanPanic commented on #204
Yes same issue here with new install

[2018-07-22 15:39] bthaile commented on #213
We show hightest dispute round number  then highest dispute bond.

It makes sense to make the view user centric. I like that idea.

https://app.clubhouse.io/augur/story/14331

[2018-07-22 15:45] bthaile commented on #169
You can also try these endpoints, they might be better

http://gethstar.com/ethereum-http
ws://gethstar.com/ethereum-ws

[2018-07-22 15:52] bthaile commented on #207
This is fixed in 1.0.5. Closing

[2018-07-22 16:03] bthaile commented on #121
Also, 1.0.5 has data stability fixes as well. I’ll close this for now. Thanks

[2018-07-22 19:30] bthaile commented on #204
Usimg the community provided ethereum endpoints should help with syncing. Closing

[2018-07-22 19:30] #204 closed

[2018-07-22 20:21] andriytyurnikov opened #222 "import stop at 5.75%"
OS X 10.13.6, Augur app 1.05
Sync freezes at 5.75%

<img width="884" alt="screen shot 2018-07-22 at 23 13 03" src="https://user-images.githubusercontent.com/3668/43049746-a57a3db6-8e05-11e8-9be7-85970800afdb.png">
<img width="890" alt="screen shot 2018-07-22 at 23 14 45" src="https://user-images.githubusercontent.com/3668/43049750-a9cec328-8e05-11e8-8159-150b0192c609.png">
<img width="683" alt="sc

[2018-07-22 20:22] andriytyurnikov commented on #222
Ok, it unfroze, so closing the issue :)

[2018-07-22 20:22] #222 closed

[2018-07-22 21:17] joeykrug commented on #213
Ooo, I guess after that it’s sorted by volume then in the UI from what I can tell

[2018-07-23 02:06] michaelcippolito opened #223 "Wrong SHA-256 Hash For win-Augur-1.0.5.exe"
I am calculating
`b8dadd6d015b4586ce3a6561c66eed44f583c6d66061ed42f65851371a15cf45`
for the hash of the file located at https://github.com/AugurProject/augur-app/releases/download/v1.0.5/win-Augur-1.0.5.exe

This does not match
`cc5fe7da635366b9e6ac29e38d9b53016cf9913f68d9077f13df7babd8382093`
as listed at https://github.com/AugurProject/augur-app/releases/download/v1.0.5/win-Augur-1.0.5.exe.sha25

[2018-07-23 02:07] michaelcippolito commented on #223
Specific clarification:
b8dadd6d015b4586ce3a6561c66eed44f583c6d66061ed42f65851371a15cf45
is the _SHA-256_ hash of https://github.com/AugurProject/augur-app/releases/download/v1.0.5/win-Augur-1.0.5.exe

[2018-07-23 05:48] page1 opened #224 "Object has been destroyed"
Just upped to 1.0.5, having more issues than 1.0.4.
Most errors currently log as "Object has been destroyed". Copying a few versions here.

v1
[code]

v2
[code]

[2018-07-23 05:59] page1 commented on #213
Regarding @joeykrug number 3, favorited markets. We could expand this to markets the user placed an order in, even if not filled (or filled and traded out of). Both favoriting and placing an order are actions that may indicate interest in or knowledge of the market's outcome and indicate a higher likelihood of both participation and proper reporting.

Also this will provide a look back to users to

[2018-07-23 06:12] page1 commented on #221
I could imagine an expiration calendar summary view for some user info (#of markets, $at risk, Current P&L). This could help a user identify markets that are ending that they don't wish to hold to conclusion. And also help users understand how much longer till the markets are finalized.

If a calendar based view was popular for personal market stats, then maybe there would be demand for a market w

[2018-07-23 06:16] page1 commented on #121
@bthaile Seeing these come back in 1.0.5

[code]

[2018-07-23 07:01] #115 closed

[2018-07-23 07:02] #122 closed

[2018-07-23 07:05] sharkcrayon commented on #127
@vanjan This is implemented in v1.0.5. Please see directions here: https://github.com/AugurProject/augur-app#running-ui-on-different-port-change-from-8080

[2018-07-23 07:05] #127 closed

[2018-07-23 07:18] mbalance commented on #223
I'm pretty sure they're not supposed to match like that.

[2018-07-23 08:16] sharkcrayon commented on #104
@JohnDanz But @CheckRazor said "I then raised the gas price on the market creation transaction in metamask and it was quickly accepted by mainnet". That makes it sound like they signed the transactions before Augur App crashed.

@CheckRazor Is that right?

[2018-07-23 10:12] sharkcrayon commented on #157
@Chehands This is expected behavior at the moment, though we are discussing changing this. I'll post an update here when I have one.

[2018-07-23 10:29] sharkcrayon commented on #158
@page1 @TacoByte Are you seeing this with the latest app (v1.0.5)?

[2018-07-23 10:30] #160 closed

[2018-07-23 10:33] #164 closed

[2018-07-23 10:34] sharkcrayon commented on #169
@rgandhi041098 Any luck?

[2018-07-23 10:45] Austin-Williams commented on #170
From a reporting perspective, the number of shares traded on a market is not relevant to whether (or how) one chooses to dispute. The incentive to dispute a false outcome comes from the chance to gain the stake (REP) that was placed on the false outcome.

Since every market (even markets with 0 shares traded) necessarily has some stake on it (even if it's just the stake placed by the designated re

[2018-07-23 10:51] sharkcrayon commented on #191
@hoffmabc This is implemented in v1.0.5. Please see directions here: https://github.com/AugurProject/augur-app#running-ui-on-different-port-change-from-8080

[2018-07-23 10:53] #170 closed

[2018-07-23 10:57] #197 closed

[2018-07-23 11:00] sharkcrayon commented on #199
@negamax You're talking about claiming ETH/REP as a reporter on the Portfolio: Reporting page, correct?

@nuevoalex If the user has ETH to collect from multiple fee windows, is that going to be done in one tx overall or one tx per fee window? I suspect it's the second way, in which case waiting to accumulate ETH will not help.

[2018-07-23 11:02] sharkcrayon commented on #199
@negamax Can you clarify this a bit for me?

[2018-07-23 11:04] sharkcrayon commented on #200
Duplicate of #204.

[2018-07-23 11:04] #200 closed

[2018-07-23 11:06] sharkcrayon commented on #203
Duplicate of #161

[2018-07-23 11:06] #203 closed

[2018-07-23 11:13] sharkcrayon commented on #205
@page1 This is on our roadmap :) We should be getting to it in the near future.

[2018-07-23 11:49] sharkcrayon commented on #206
@page1 I've added that to our roadmap and it's high on our priority list. Thanks for all of the feedback btw!

[2018-07-23 11:50] sharkcrayon commented on #209
https://app.clubhouse.io/augur/story/14290/github-add-icon-for-the-linux-app

[2018-07-23 12:06] hoffmabc commented on #191
Thanks @sharkcrayon

[2018-07-23 15:07] page1 commented on #158
@sharkcrayon Haven't seen this so far with 1.0.5

[2018-07-23 15:10] page1 commented on #206
np. This kind of platform has a lot of appeal to my analytics background.

[2018-07-23 15:59] adrake33 commented on #104
@CheckRazor It sounds like you raised the gas price on the market creation transaction, but did you sign any of the liquidity transactions after that? Also, are you currently seeing this issue with Augur App [version 1.0.5](https://github.com/AugurProject/augur-app/releases/tag/v1.0.5)?

If so, can you please create a [Gist](https://gist.github.com/) with the log info (https://github.com/AugurProj

[2018-07-23 16:34] joeykrug commented on #205
Someone made an example image of this that was a bit different but that looked gorgeous in the trading channel in discord

[2018-07-23 17:11] page1 opened #225 "Request for Tooltip: Sell complete sets"
<img width="806" alt="screen shot 2018-07-23 at 11 07 14 am" src="https://user-images.githubusercontent.com/6609556/43091961-c53c8a6a-8e68-11e8-8b5b-78a5e582ea9e.png">
I'm not sure what **sell complete sets** does, when I click... it asks me to sign on my ledger... Adding a tooltip might help increase my confidence in using this feature.

In the mean time, what is this suppose to do?

[2018-07-23 17:18] page1 commented on #225
Coming back to this cold after the weekend and just a little confused. I'm sure I'll get this in a few minutes.... but on the topic of tool tips maybe adding some to all of these numbers would be good
<img width="358" alt="screen shot 2018-07-23 at 11 13 13 am" src="https://user-images.githubusercontent.com/6609556/43092152-772090dc-8e69-11e8-8b17-c7f35d4b4d26.png">
A little puzzling how I can hav

[2018-07-23 17:48] page1 opened #226 "Undefined binding"
Tried to dispute a market
[code]

[2018-07-23 18:00] justinbarry commented on #126
@bartleyg, Would you mind sharing the etherscan link here? This sounds like another manifestation of the various data-syncing issues but I want to investigate a bit further.

[2018-07-23 18:05] page1 opened #227 "Feature: Auto connect"
I'm betting most users are not going to change these settings. And even those that do will probably always want to connect to the same endpoints. Adding a little "remember my selection", or "connect automatically next time?" check box would reduce the complexity of this app.

<img width="557" alt="screen shot 2018-07-23 at 12 00 34 pm" src="https://user-images.githubusercontent.com/6609556/4309443

[2018-07-23 18:06] pgebheim commented on #226
Hey @page1  -- Thanks for this report I'm looking into it now.

[2018-07-23 18:10] page1 opened #228 "2 Universe Genesis?"
I'm seeing double.
<img width="341" alt="screen shot 2018-07-23 at 12 06 59 pm" src="https://user-images.githubusercontent.com/6609556/43094731-ffeffacc-8e70-11e8-8227-ee082f011138.png">

Sorry about the waterfall of issues over the past few hours. Thank you for everyone else's contributions to make this app better day by day.

[2018-07-23 18:11] nuevoalex commented on #228
Someone actually made another genesis universe. This is something anyone can do, though it would only be useful if you migrate everyone's REP manually or convince them to (REP is frozen in the new universe until this is done).

We're discussing filtering these other genesis universes out potentially.

[2018-07-23 18:13] pgebheim commented on #226
@page1

Which version of Augur App were you running? In 1.0.5 we fixed an issue with the dispute page which could be causing this.

[2018-07-23 18:56] page1 commented on #228
I see. I thought the only way to make a new universe was to have a forking dispute. And if that was what was happening, I was sort of hoping to see the market that was creating the issue.

But since you say anyone can make a new universe, someone could spam the creation of duplicates and really make this part of the UI messy.

[2018-07-23 18:57] nuevoalex commented on #228
Agreed. I believe we should just filter out other genesis universes since the UI already specifies a default genesis universe.

[2018-07-23 19:01] page1 commented on #226
@pgebheim 1.0.5
<img width="126" alt="screen shot 2018-07-23 at 1 01 26 pm" src="https://user-images.githubusercontent.com/6609556/43097199-8820f6f6-8e78-11e8-82ae-eefada3e0391.png">

[2018-07-23 19:09] page1 commented on #226
At least the dispute page loads in 1.0.5 I'm just not able to send a dispute. It asks me to sign the transaction on the ledger and then no transactions actually show on etherscan.io and this error gets put in the log.

[2018-07-23 20:04] shane1900 opened #230 "Successful limit orders but don't show on Augur"
Hi,

Over the last 5 days I've submitted 5 limit orders but only the first is available to be seen under Portfolio > Transactions.  So I have no way to track my orders or cancel them.

What happens when the market is over and my limit order was not filled, automatically refunded?

My node is up to date and I'm using Augur 1.05.  Any ideas?

[2018-07-23 20:17] page1 commented on #230
Hi @shane1900 do you see corresponding transactions in etherscan.io for your address? Maybe something is crashing when you send the orders? And they are not making it to ethereum network. What OS are you on? On Mac you can get logs from ~/Library/Logs/augur/log.log that may help others help you.

[2018-07-23 20:41] shane1900 commented on #230
Hello,

Yes I do see all transactions being confirmed on etherscan.io.  Attached are my Mac logs.  I'm connected to Metamask in Chrome.  Using my 2nd Metamask account.

[log.log](https://github.com/AugurProject/augur-app/files/2220950/log.log)

[2018-07-23 21:25] page1 opened #231 "Improve View: Portfolio -> Transactions"
There are a few initially confusing things going on in the Portfolio -> Transactions view.
<img width="1082" alt="screen shot 2018-07-23 at 3 16 40 pm" src="https://user-images.githubusercontent.com/6609556/43103488-703a275c-8e8b-11e8-8808-5745d50570ed.png">

- "Export data" produces JSON file instead of a CSV. I assume most people will want to put the export into a spreadsheet program.
- There ar

[2018-07-23 21:59] epheph commented on #181
This should be resolved in 1.0.5 . Ethereum's eth_call has its own internal issues when it is under load, and when backed by a pool of ethereum nodes, which have different perspectives of the network, making an eth_call against a contract on a node that has not yet seen a contract deployment yet will result in "0x". Our middleware was interpreting that error as as "0" instead of recognizing it as

[2018-07-23 21:59] #181 closed

[2018-07-23 22:02] epheph commented on #176
@timnugent this error was not fatal for you, right? This should be classified as a warning. There is a problem with the ethereum protocol (that will be fixed in EIP-234), this message notes that the "block stream" noticed the error, but it knows how to deal with it.

We should change the message to seem more informative, perhaps noting that it is "info".

[2018-07-23 22:04] epheph commented on #78
Has anyone who was impacted by this issue, who is using infura, seen missing markets lately? We are currently intentionally lagging when not connected to localhost, to avoid missing data (allowing server-side propagation).

[2018-07-23 22:06] gggh000 commented on #204
used on AWS WinServer 2012, it stuck on 23.66% with 1.0.5.

[2018-07-23 22:10] gggh000 commented on #204
I am outta here and come back in a year, by that time, hopefully it is smooth sailing.

[2018-07-23 22:27] Sm00g15 opened #232 "Way to see markets ending soon"
Is there currently a way to see markets that will be ending soon?

[2018-07-24 01:43] joeykrug commented on #227
Yeah I like this idea

[2018-07-24 01:45] joeykrug commented on #78
I haven't seen any

Btw have we implemented a full fix by doing this to make sure there's not a rollback / reorg further back than the lag?

[2018-07-24 02:38] bthaile commented on #227
https://app.clubhouse.io/augur/story/14414

I like this idea also. It was a feature initially but has gotten lost through the many revisions.

[2018-07-24 02:41] bthaile commented on #232
Currently not in augur-ui. It is in out filter/search roadmap, I believe.

This site has a way to search for recently ending markets

https://predictions.global

[2018-07-24 02:41] bthaile commented on #232
Currently not in augur-ui. It is in out filter/search roadmap, I believe.

This site has a way to search for recently ending markets

https://predictions.global

[2018-07-24 02:41] #232 closed

[2018-07-24 02:45] bthaile commented on #231
https://app.clubhouse.io/augur/story/14415

Thanks for the suggestions. Transactions is slated for complete overhaul, we’ll put your suggestions in the mix.

Closing for now.

[2018-07-24 02:47] bthaile commented on #226
Are you indicating the error above gets put in the logs when you try to dispute a market?

[2018-07-24 02:49] page1 commented on #226
@bthaile This was my impression. But I can't be 100%
The third time I tried to dispute the transaction made it through.

[2018-07-24 02:50] bthaile commented on #226
Do you have an ethernet tx and which market are you disputing?

[2018-07-24 02:54] bthaile commented on #190
Do you have a snippet of the log where is failing with gethstar endpoint?

Also here are some other endpoints to try. You can also try just http(s) endpoint. You dont have to have both.

https://predictions.global/augur-public-ethereum-nodes

[2018-07-24 02:58] bthaile commented on #224
Looks like error from when augur-app is being closed which shutdowns augur-node. Or is something else going on?

[2018-07-24 03:02] page1 commented on #226
I think this is the transaction that worked https://etherscan.io/tx/0x4e8a50183b374610a5b1bd15e681102bb01dbb766bfe28ea17334158fba96870
On this market https://localhost:8080/#/market?id=0x90b60a1b85f0ac1b4606050f5be5c54198f2706c

[2018-07-24 03:32] page1 commented on #224
I think I had v1 when trying to sync after being offline for the weekend.
v2 seems to show up much more commonly in my log. I'm not sure of exactly under what condition it shows up.

[2018-07-24 04:31] Bomper commented on #209
@sharkcrayon: are there publicly available credentials for Clubhouse? It asks me to login.

[2018-07-24 14:37] bthaile commented on #225
You should see the ‘you can sell a complete set’ that at the bottom of the trading page (should have the you have 1 complete set, would you like to sell it? -- SELL COMPLETE SET)

If you have 1 complete set that means you have 1 Yes share and 1 No share. You can trade that in for 1 ETH.

1 Yes share + 1.3 No shares will give you a net position of -.3 shares (negative means No shares)

[2018-07-24 15:38] bthaile commented on #226
We had dispute issues that got fixed in 1.0.5, I assume you successfully disputed using 1.0.5. Prior versions would spam augur-node and the UI would allow disputing.

[2018-07-24 16:00] page1 commented on #225
@bthaile Thanks for letting me know what a complete set is and what its getting traded in for.

[2018-07-24 16:01] page1 commented on #226
@bthaile Yes, I attempted to dispute 3 times with 1.0.5 and the third time it worked. Never tried dispute on prior versions.

[2018-07-24 16:03] page1 commented on #226
We can close this for now if you like. I haven't seen this again (Also haven't tried to dispute anything else) I or someone else can repost if seen again in next dispute round.

[2018-07-24 16:03] #226 closed

[2018-07-24 16:55] bthaile commented on #168
Can you still reproduce this issue?

[2018-07-24 17:35] bthaile commented on #121
Seems like your augur-node is getting flooded with requests. We had that issue with dispute market view in past versions. Currently augur-node is setup to have only 1 sql connection.

Not sure what would cause multiple connections to sqlite3 db. or could be that multiple transactions are getting created before the initial transaction had time to close.

Can you describe the activities you were try

[2018-07-24 18:14] shane1900 commented on #230
Hi,

Yes I confirmed I'm looking at the "All" option.

I've rebooted and tried both using my local Parity node and connecting to Augur Mainnet.  And tried switching Metamask accounts back and forth.  No luck :(

[2018-07-24 18:15] nuevoalex commented on #230
@shane1900  Can you link the actual transactions on etherscan here?

[2018-07-24 18:57] shane1900 commented on #230
Sure here's the last one I did which I do not see.

https://etherscan.io/tx/0x21e851ed6b5d1aedcadc8e82c598f48223666f8ab64d8432694a683c7a5ed6bc

[2018-07-24 18:59] nuevoalex commented on #230
@shane1900 That tx is using the method to only fill orders and not make any new ones. Did you have the "Fill Orders Only" box checked when making this tx?

[2018-07-24 19:07] john-light opened #233 "Cannot connect to local geth node"
Select configuration: Local
Configuration name: Local
HTTP Endpoint: http://localhost:8545
Websocket Endpoint: ws://localhost:8546

Running geth v1.8.12

After clicking "connect" I get the following errors:

`Server Error: "Block range 0x1 to 0 exceeds currentBlock 0"`

`Server Error: "Controller mismatch. Configured: 0xb3337164e91b9f05c87c7662c7ac684e8e0ff3e7 Found: undefined"`

Before experienci

[2018-07-24 20:45] page1 commented on #121
Not sure exactly what I was doing. You said 1 sql connection, would opening multiple tabs to Augur breach this limit?

Everything I do is by hand in Chrome, generally signed in with a ledger. Checking markets sometimes by making new tabs to find out if there are any interesting bids/asks.

[2018-07-24 20:50] xenoexclusive commented on #233
The "Controller mismatch" error usually occurs if your client has not finished syncing.

In regards to your connection issues, try the following. Start geth with `geth --rpc --ws --wsorigins "127.0.0.1"` and nothing more. Then run Augur (after deleting appdata) with DEFAULT 'Local' settings IE `http://localhost:8545` and `ws://localhost:8546`.

The `--rpcaddr` and `--wsaddr` commands are unnecessa

[2018-07-24 21:33] negamax commented on #168
I can't make 1.05 sync. Waiting for 1.06. If it works, I will give this a try and write back.

[2018-07-24 22:20] fredfortier opened #234 "RPM Package"
I'm sure that you already know this but there is not obvious way to install the app on non-debian distros. I'm running on Fedora 28. I tried using alien to convert the deb package but it did not work.
[code]

[2018-07-24 23:06] fredfortier commented on #234
Note that I was able to build and run the application from the master branch.

[2018-07-25 04:41] petervecchiarelli commented on #223
https://app.clubhouse.io/augur/story/14477/github-wrong-sha-256-hash-for-win-augur-1-0-5-exe

[2018-07-25 05:17] petervecchiarelli commented on #224
https://app.clubhouse.io/augur/story/14478/github-object-has-been-destroyed

[2018-07-25 05:20] petervecchiarelli commented on #225
https://app.clubhouse.io/augur/story/14479/github-request-for-tooltip-sell-complete-sets

[2018-07-25 05:36] petervecchiarelli commented on #234
https://app.clubhouse.io/augur/story/14481/github-rpm-package

[2018-07-25 05:54] petervecchiarelli commented on #215
https://app.clubhouse.io/augur/story/14483/merge-augur-node-for-1-0-6

[2018-07-25 06:42] petervecchiarelli commented on #216
https://app.clubhouse.io/augur/story/14484/merge-augur-ui-for-1-0-6

[2018-07-25 06:43] petervecchiarelli commented on #217
https://app.clubhouse.io/augur/story/14485/merge-augur-node-for-1-0-7

[2018-07-25 06:44] petervecchiarelli commented on #217
https://app.clubhouse.io/augur/story/14486/merge-augur-ui-for-1-0-7

[2018-07-25 06:47] #215 closed

[2018-07-25 06:47] #216 closed

[2018-07-25 10:55] sharkcrayon commented on #225
I think this also comes back to the Position numbers being confusing overall, which needs more than a tooltip to solve. This is high on our priority list. I'll throw some mocks in here when we have them to get your feedback on possible changes.

[2018-07-25 11:38] sharkcrayon commented on #168
@negamax 1.0.6 is available now. People have been running into issues syncing with Infura, so if you're using them you might try some different endpoints. These are an option:

http://gethstar.com/ethereum-http
ws://gethstar.com/ethereum-ws

[2018-07-25 12:29] adi opened #239 "Download links for releases do not work"
The error says:

github-production-release-asset-2e65be.s3.amazonaws.com’s server IP address could not be found.

[2018-07-25 16:00] nuevoalex commented on #199
Its currently one tx per fee window, though an API exists to do multiple claims in one tx so we may improve this later

[2018-07-25 16:17] timnugent commented on #121
Just seen this again in 1.0.6

App was still syncing, didn't have the UI open in a web browser:

[17:08:15.258] [info] new block: 6011947, 1532292545 (Sun Jul 22 2018 21:49:05 GMT+0100 (BST))
[17:08:15.261] [info] Processing 1 logs
[17:08:15.268] [info] new block: 6011950, 1532292588 (Sun Jul 22 2018 21:49:48 GMT+0100 (BST))
[17:08:15.271] [info] Processing 8 logs
websocket wss://mainnet.infura.io

[2018-07-25 16:18] timnugent commented on #176
Yes, this one was fatal for me

[2018-07-25 16:53] page1 commented on #224
1.0.5 Using the top menu on mac Augur -> Exit after having connected produces this

[code]

[2018-07-25 17:17] page1 commented on #224
Did the same thing in 1.0.6, you just need to let it sync and then Augur -> Exit

[2018-07-25 17:26] page1 opened #240 "Designated Reporting without Sign in?"
On 1.0.6 - "Open Augur App", you end up on "Markets" tab. Click "Reporting" and there is a market in the designated reporting section.... I haven't signed in, how could it know what account I'm using? And I highly doubt someone would have listed me as the designated reporter.
<img width="1270" alt="screen shot 2018-07-25 at 11 21 19 am" src="https://user-images.githubusercontent.com/6609556/432167

[2018-07-25 17:35] CheckRazor commented on #104
The liquidity transactions were not signed as they didn't show up in
metamask to be signed while waiting for the market creation transaction to
go through.

Sorry, I have not had a chance to test in 1.0.5 (or 1.0.6) current
traveling in South America.  I will test the latest version next week when
I get back to my geth node and update this issue.

On Mon, Jul 23, 2018 at 10:59 AM Aaron Drake <noti

[2018-07-25 19:00] shane1900 commented on #230
Yes I did check that.  I thought that box meant > fill the entire order and not do a partial fill.  Guess I was wrong?

Any way I can cancel it?

[2018-07-25 19:48] adi commented on #239
Now it works

[2018-07-25 19:48] #239 closed

[2018-07-25 23:22] negamax commented on #168
@bthaile this is no longer happening on 1.06. Fixes many issues. Onwards and forwards!

@sharkcrayon thanks, 1.06 rules!

[2018-07-25 23:22] #168 closed

[2018-07-25 23:56] gggh000 commented on #204
1.0.6 version much better but not there yet:
@ 82.36%, got server error.

[2018-07-26 00:22] negamax opened #247 "Resolved Markets"
Either it's an Ux issue or UI bug or combination of both

1. Second week of markets are settled now. They can be seen from Reporting -> Resolved. There's no indication of claiming settlement either from this window or from the market itself
2. Portfolio -> Positions. Still shows settled markets in 'in Reporting'. 'Calculate Payout' button triggers a Metamask prompt. It is not clear what's that for

[2018-07-26 00:36] nuevoalex commented on #247
@sharkcrayon @matt-bullock I agree this seems to be a problem. People in discord generally confused by this as well.

[2018-07-26 00:51] negamax commented on #73
@nuevoalex Just going through notifications now. Although sync issue in spirit of this report is resolved, I have noticed some crashes on 1.06 and error prompts. I will open another issue with screenshots.

[2018-07-26 00:51] #73 closed

[2018-07-26 02:54] #217 closed

[2018-07-26 02:55] #218 closed

[2018-07-26 03:57] petervecchiarelli commented on #240
https://app.clubhouse.io/augur/story/14555/github-designated-reporting-w-o-sign-in

[2018-07-26 03:59] petervecchiarelli commented on #247
https://app.clubhouse.io/augur/story/14556/github-resolved-markets

[2018-07-26 05:31] enolan opened #248 "Very low gas prices with Edge wallet"
I'm using the Edge wallet and all the transactions get created with very low gas prices, and takes tens of minutes to hours to confirm. In the range of 1 - 1.5 gwei. I'm guessing it just uses the gas price reported from the Ethereum node, which is IIUC the median over the last few blocks.

[2018-07-26 09:02] kodoub commented on #76
I have the same issue. Resolved by moving /opt/Augur (created by deb) to /opt/augur (follow commands below). Apparently there is some unresolved absolute path dependency. Have a nice day.

kodoub@termix:~$ augur
/opt/Augur/augur: symbol lookup error: /opt/Augur/augur: undefined symbol: udata_setCommonData_59
kodoub@termix:~$ cd /opt/Augur/
kodoub@termix:/opt/Augur$ ./augur
[10:55:51.924] [info] ne

[2018-07-26 13:31] bamos01 opened #249 "App 1.07 not loading into brave browser - works with chrome"
It was working previously.  App is fully synced - when I try to open with Brave- I just see Augur logo expanding and contracting

[2018-07-26 15:29] lhaste opened #251 "Error: The migration directory is corrupt, the following files are missing: 20180716140300_orphaned_orders.js, 20180725142500_ipc_orphan_fix.js"

[2018-07-26 16:34] page1 commented on #240
@bthaile I'm seeing the same issue in 1.0.7
<img width="1280" alt="screen shot 2018-07-26 at 10 33 35 am" src="https://user-images.githubusercontent.com/6609556/43275567-662c9b6a-90bf-11e8-8d40-246caf61780b.png">

[2018-07-26 16:51] justinbarry commented on #126
Closing. This sounds like the augur-node data sync issues we had upon launch. If it happens again please file another issue.

[2018-07-26 16:51] #126 closed

[2018-07-26 16:56] justinbarry commented on #251
@lhaste What were you doing when that happened?

[2018-07-26 22:49] CptanPanic commented on #157
Yes I am struggling with this issue also.  I would like to use the improved search/sort at predictions.global but am not able to actually bring up markets that I find because it then logs me out of wallet.

[2018-07-26 22:51] destinatis commented on #169
Ame issue.

[2018-07-27 04:08] bthaile commented on #249
Currently we don’t officially support brave. We’ve not even tested. Good idea though. Closing

[2018-07-27 04:22] bthaile commented on #248
I’m not familiar with edge, do they allow the user to add more gas?

[2018-07-27 04:43] enolan commented on #248
There's no options. AFAICT the transaction is created and signed in the
browser. You don't get a prompt on your phone or anything.

On Thu, Jul 26, 2018, 9:22 PM Tom Haile <notifications@github.com> wrote:

[2018-07-27 04:49] phoebemirman commented on #240
1.0.7 didn't have ui updates, just a hot fix. this will be in the next release 1.0.8

[2018-07-27 04:49] #240 closed

[2018-07-27 11:41] #158 closed

[2018-07-27 11:43] sharkcrayon commented on #169
@destinatis What endpoints are you using?

[2018-07-27 11:44] sharkcrayon commented on #190
@mostar Any feedback on @bthaile's questions?

[2018-07-27 11:56] sharkcrayon commented on #167
@page1 This issue could have been caused by a number of things. Based on @nuevoalex's comments, it's likely due to the "orphaned orders" issue, where sometimes an order is placed that cannot be taken. The only solution is for the user that placed the order to cancel it. We now have notifications in place for this, so users will be alerted when an order that they've placed becomes orphaned and need

[2018-07-27 11:56] #167 closed

[2018-07-27 12:01] sharkcrayon commented on #104
@CheckRazor We're working on a UI fix for this. Currently, we don't retain any record of what initial liquidity txs are queued up, so if your browser refreshes in the middle of the signing process you will not be reprompted to sign the ones you hadn't gotten to yet (as you noticed ;) ).

I'll let you know when we've pushed the fix.

[2018-07-27 12:06] sharkcrayon commented on #233
@john-light Any luck with @xenoexclusive's suggestions?

[2018-07-27 12:23] mostar commented on #190
gethstar.com

[15:21:44.042] [info] Starting Augur UI Server
[15:21:44.042] [info] Looking for certificate files in /home/myuser/.augur
connecting to augur-node: undefined
connecting to ethereum-node: {"http":"http://gethstar.com/ethereum-http","ws":"ws://gethstar.com/ethereum-ws"}
websocket ws://gethstar.com/ethereum-ws opened
connected to ethereum
[15:21:47.080] [info] /home/myuser/.augur/augur-

[2018-07-27 15:10] rashley60 commented on #249
pg specifically asked that this issue be opened. Brave worked fine in 1.0.5, and something, perhaps a helmet change, changed in 1.0.6 or 7. This is maybe not a difficult fix and Brave support is kinda nice to brag about.

[2018-07-27 19:17] enolan opened #255 "Expiration date formatting inconsistent between markets page and positions page"
On the page for an individual market, the expiration time is given in local time, but on the positions page it's given in UTC. This is confusing.

[2018-07-27 20:59] Anastik opened #256 "Javascript Error Returned in the Mainprocess"
I get the following error message whenever I press "connect" after booting up the UI:

<img width="425" alt="screen shot 2018-07-27 at 12 57 57 pm" src="https://user-images.githubusercontent.com/33998307/43346210-c7cd2da2-919c-11e8-80a8-1f1b8d5fb63d.png">

Then after pressing "Open Augur App" I get the following error on my browser:

<img width="1143" alt="screen shot 2018-07-27 at 12 59 01 pm" sr

[2018-07-27 20:59] john-light commented on #233
@sharkcrayon my geth node is consistently ~100 blocks behind, for whatever reason it doesn't want to catch up to the chain tip. Might have to try Parity.

[2018-07-28 02:30] bthaile commented on #256
We’ve seen this issue. We added a fix for the javascript error, to come out in next release.

I think this error covers up the actual error. Can you look in the log file?

Log locations are here:
https://github.com/AugurProject/augur-app/blob/master/README.md

[2018-07-28 02:32] bthaile commented on #255
https://app.clubhouse.io/augur/story/14647

We’ll checkbit out

[2018-07-28 02:39] bthaile commented on #249
https://app.clubhouse.io/augur/story/14648

We have an idea what broke it. We’ll check it out.

[2018-07-28 02:41] bthaile commented on #248
Not being to change gas is an issue with ledger and I believe trezor as well. It’s on our radar.

Keeping this open.

[2018-07-28 15:01] gwern commented on #175
Replacing the ID does work for me, but first causes an error (the "Error: Sorry, something went wrong! Try reloading this page or returning home." message), requiring a force-reload, and then it apparently starts a new Augur app session requiring me to sign back into Metamask. Which is a very frustrating way to work around the search being useless. (To find any new market, I have to use `predictio

[2018-07-28 15:56] bthaile commented on #175
Yes, this is annoying, it’s on our radar.

https://app.clubhouse.io/augur/story/14650/fix-direct-marketid-urls

[2018-07-28 15:56] bthaile commented on #175
Yes, this is annoying, it’s on our radar.

https://app.clubhouse.io/augur/story/14650/fix-direct-marketid-urls

[2018-07-28 17:57] albatarnik opened #258 "Error Cannot GET /"
When I hit "Open Augur App"
opens this url :
http://127.0.0.1:8080/#/categories?augur_node=ws%3A%2F%2F127.0.0.1%3A9001&ethereum_node_http=https%3A%2F%2Fmainnet.infura.io%2Faugur&ethereum_node_ws=
I only can see this message
`Cannot GET /`

OS: macos high sierra

[2018-07-28 18:04] bthaile commented on #258
Do you have another process using port 8080?

If so there should have been an error show up at the bottom of the augur-app interface.

Also can you look in the log file, it can provide more information.

Located here: MacOS : ~/Library/Logs/augur/log.log

[2018-07-28 18:12] albatarnik commented on #258
Content of log.log file
[code]

[2018-07-28 18:16] bthaile commented on #258
Make sure you are on the latest version of augur-app.

Second try to ‘reset database’ its in the settings menu of augur-app. You will need to do this first thing after starting augur-app before clicking ‘connect’

Also dont use the infura ethereum node endpoint. Grab gethStar or megaGeth

[2018-07-28 18:17] albatarnik commented on #258
Okay, I will that, thanks.

[2018-07-29 10:58] negamax opened #261 "Feature Request: Pay market fee to creators on every transaction"
Is there a good reason to delay this until market settlement?

[2018-07-29 17:54] 7-- opened #262 "Unable to claim outstanding returns"
I'm unable to claim outstanding returns. When I press the claim button I get this error. I've tried running on different networks.

![image](https://user-images.githubusercontent.com/4725003/43369105-14b5337c-9336-11e8-8ec9-b78151efef24.png)

@rty in discord is having the same issue with this market. And  @nuevoalex was trying to help us.
"Which team will win the 2018 Fifa world cup?"

Full log:
[

[2018-07-29 18:57] bthaile commented on #262
What are your endpoints in augur-app?

Looks like you are connected to local ethereum node but the ws is set to remote geth node. Is that correct?

[2018-07-29 19:10] 7-- commented on #262
I've tried most of the endpoints on here but gives the same error:
https://predictions.global/augur-public-ethereum-nodes
![image](https://user-images.githubusercontent.com/4725003/43369759-4f349686-9341-11e8-9d5e-230bde8348a9.png)

This is my address. Doesn't seem to make a transaction.
https://ethplorer.io/address/0x391d6390e08058dab2f9ac0bb9860056fc847b03

[2018-07-29 19:32] nuevoalex commented on #262
@7-- This appear to be an issue of not having enough ETH to pay the TX cost. The account provided here in the screenshots only has .001 ETH which will not be enough to cover the tx cost

[2018-07-29 23:15] 7-- commented on #262
I added some more ETH but having the same issue.
![image](https://user-images.githubusercontent.com/4725003/43371615-b5e0b0be-9363-11e8-9e81-59402698d3f0.png)

[2018-07-30 02:31] stanfordjesse1 opened #263 "Market Liquidity on Review Page is Incorrect If It's Adjusted."
On the review page, when you’re making a market, the total market liquidity is incorrect if you hit the "previous" button and delete orders. It shows the total that has been added both of the times, but it doesn’t account for the fact that I actually deleted my orders between the times I visited the review page.

If I subsequently hit back, and delete all my orders, and proceed to the review scree

[2018-07-30 03:37] petervecchiarelli commented on #251
https://app.clubhouse.io/augur/story/14660/github-error-the-migration-directory-is-corrupt

[2018-07-30 03:41] petervecchiarelli commented on #256
Closing for now

[2018-07-30 03:41] #256 closed

[2018-07-30 03:47] petervecchiarelli commented on #261
@negamax The market can resolve as invalid.

[2018-07-30 03:49] petervecchiarelli commented on #262
https://app.clubhouse.io/augur/story/14661/github-unable-to-claim-outstanding-returns

[2018-07-30 03:51] petervecchiarelli commented on #263
https://app.clubhouse.io/augur/story/14662/github-market-liquidity-on-review-page-is-incorrect-if-it-s-adjusted

[2018-07-30 09:44] #223 closed

[2018-07-30 11:55] jragosa commented on #262
I'm experiencing similar difficulties to claim:

To be more detailed, i have the error "eth_call returned no data (0x)" when I'm connected through :
https://megageth.com/
wss://megageth.com/ws
https://gethstar.com/
wss://gethstar.com/ws
wss://ponytail.io/ws

Different behavior when I'm connected through "https://ponytail.io/", the transaction gets to my ledger, I can confirm it but nothing happens

[2018-07-30 18:42] negamax commented on #261
@petervecchiarelli that's fair point and I will close this now. But I do think that some feature like market creation with higher bond should offer this. As the platform matures, hopefully market creation bond price will go up

[2018-07-30 18:42] #261 closed

[2018-07-30 19:48] justinbarry commented on #249
@rashley60 Replace "127.0.0.1" with "localhost" in the url bar. See: https://github.com/brave/browser-laptop/issues/13390

[2018-07-30 20:20] #251 closed, assigned to justinbarry

[2018-07-30 20:40] justinbarry commented on #117
This was handled here: https://github.com/AugurProject/augur-ui/pull/2055 and released here: https://github.com/AugurProject/augur-app/releases/tag/v1.0.6

[2018-07-30 20:40] #117 closed

[2018-07-30 20:41] justinbarry commented on #80
@ldub @karalabe are you still seeing this issue?

[2018-07-30 21:07] phoebemirman commented on #247
a change for this has been merged and will be in the next release.

[2018-07-30 21:08] bthaile commented on #175
@negamax are you still seeing this issue? in the next release will have the ability to search on market id.

[2018-07-30 21:08] #175 closed

[2018-07-30 21:24] phoebemirman commented on #255
a fix for this has been merged, will be availablen in the next release.

[2018-07-30 21:24] #255 closed

[2018-07-31 02:18] justinbarry commented on #190
@mostar Are you using the binary from the release page or building it?

[2018-07-31 02:21] #211 closed, assigned to nobody

[2018-07-31 02:51] p3c-bot opened #264 "Augur is 488.2 Megabytes"
<img width="448" alt="screen shot 2018-07-30 at 10 49 38 pm" src="https://user-images.githubusercontent.com/40745785/43434759-11477748-944b-11e8-8fe0-10732777870a.png">

[2018-07-31 02:57] bthaile commented on #264
Yup, thats the uncompressed file size. I think the reason is there is a whole nodejs runtime in there.

[2018-07-31 02:57] #264 closed

[2018-07-31 03:14] justinbarry commented on #258
@albatarnik please consider closing this issue if the above steps do not resolve your problem.

[2018-07-31 03:51] justinbarry commented on #132
CH ticket https://app.clubhouse.io/augur/story/13701/publish-installer-checksums-for-users-to-verify

[2018-07-31 03:57] #132 closed

[2018-07-31 03:58] justinbarry commented on #132
Checkums now provided. See release page here: https://github.com/AugurProject/augur-app/releases

[2018-07-31 05:13] mostar commented on #190
From release page.

[2018-07-31 05:25] stanfordjesse1 opened #266 "Orders that are placed (and subsequently confirmed) are not appearing on order books."
On multiple occasions, I have placed orders that do not appear on the order books.

Steps to repeat:

- Navigate to a market
- Enter quantity / limit price
- Do not check "Fill Orders Only"
- Click Review
- Click Confirm Buy
- Wait for transaction to confirm
- Wait...
- Never appears on order books, can't cancel order

I have done the following actions:
- Ensured that my node is in sync
- Changed

[2018-07-31 05:34] stanfordjesse1 opened #267 "Estimated Cost Does Not Show on the Interface"
When placing a sell order, I am not able to get estimated cost on the interface to update if I place less than 2 shares. If I place 3 shares, the number updates just fine.

This appears on both the main order screen as well as the review screen. Placing the order is unaffected by this.

<img width="381" alt="screen shot 2018-07-30 at 10 32 51 pm" src="https://user-images.githubusercontent.com/2432

[2018-07-31 05:51] nuevoalex commented on #266
@stanfordjesse1 example txs would be great.

One potential reason might be that these orders are orphaned, although the UI should inform you when this has happened.

Due to a contract error when one side of an orderbook has two orders of the same price if another order is made at that price the second order may become unmatchable. We detect this in Augur Node and hide it but the order creator shou

[2018-07-31 06:04] stanfordjesse1 commented on #266
I don't think this is the matching issue. I've experienced that issue and I've gotten the UI notification.

There was a wide spread on this particular market, and it had relatively few orders. So it wasn't due to matching.

I have about 10 examples of transactions, on multiple markets. Buy and sell side, that are simply not showing up on the order book or appearing anywhere for me to cancel. No UI

[2018-07-31 06:09] stanfordjesse1 commented on #266
Here are two examples, 6 minutes apart.

The first appears on the order book. The second does not. These are for the same market. Same UI Actions for both, identical process. Same session, same node, same wallet.

Appears: https://etherscan.io/tx/0x07347b913db89e9ee23eef25288f8a8e101883323f8c3e452b241f789884a040
Does not appear: https://etherscan.io/tx/0x5eb5c7fe866fb1bddf02dda0f0b39b2c2a8b565c442

[2018-07-31 06:11] nuevoalex commented on #266
Both of those txs were the variant that does not create orders. I believe this must be a UI bug where it is using that variant even if the checkbox is not filled in then if your repro steps work reliably.

[2018-07-31 06:12] nuevoalex commented on #266
Yea note in your second post that the first tx https://etherscan.io/tx/0x07347b913db89e9ee23eef25288f8a8e101883323f8c3e452b241f789884a040
is using the `publicTradeWithLimit` function while the other is using the `publicFillbestorderWithLimit` variant.

[2018-07-31 06:31] stanfordjesse1 commented on #266
Thanks for your help here.

I think this makes sense, I will try to make a trade to close out these
positions.

Thanks

On Mon, Jul 30, 2018 at 11:21 PM Alex <notifications@github.com> wrote:

--

Jesse Leimgruber
CEO, NeoReach
p: 4079231680
s: www.NeoReach.com <http://www.neoreach.com/>
<http://www.twitter.com/jesserank>
<https://www.linkedin.com/pub/jesse-leimgruber/2a/170/1b4>

*Huffington Post

[2018-07-31 06:37] stanfordjesse1 commented on #266
Also, is it normal for these not to show up under my positions? Or is that
a separate bug?

Basically there is no UI notification that I even have these positions at
all

On Mon, Jul 30, 2018 at 11:31 PM Jesse Leimgruber <jesse@neoreach.com>
wrote:

--

Jesse Leimgruber
CEO, NeoReach
p: 4079231680
s: www.NeoReach.com <http://www.neoreach.com/>
<http://www.twitter.com/jesserank>
<https://www.linked

[2018-07-31 09:05] negamax opened #269 "v 1.0.6: Augur app stops syncing - shows 99.9% wrongly"
I can interact with existing data. But if I make a new action like listing an order, reporting etc. It does not reflect. Looking at the Augur App window it shows 99.9%. But on restart it was ~3000 blocks behind

[2018-07-31 09:17] negamax opened #270 "Feature request : Variable Market Creator Bond"
This can provide multiple benefits in terms of reducing random markets but biggest benefit could be that other UIs (third party) can filter by or show only markets that have higher bond to signal quality.

[2018-07-31 14:00] bthaile commented on #269
Recommend v1.0.7 and using a community endpoint. Here is the list.

https://predictions.global/augur-public-ethereum-nodes

See if that helps. We are still working on data stability and will have another release coming out.

[2018-07-31 14:06] bthaile commented on #267
Looks like you already own shares (you have escrowed ETH) so the shares can be traded and you dont need to add more ETH.

If you want to trade more shares than you own you will have to escrow more ETH. Thats why It costs ETH over the  2.25 share you already have.

[2018-07-31 16:01] page1 opened #271 "Cannot read property 'webContents' of null"
On Clicking "Connect"

[code]

<img width="953" alt="screen shot 2018-07-31 at 10 00 46 am" src="https://user-images.githubusercontent.com/6609556/43471630-ab305c28-94a8-11e8-83a3-e6e13808ca23.png">

[2018-07-31 16:02] shane1900 commented on #230
Would you mind helping me understand what's happening.  Sounds like I put out orders to be filled and locked up ETH to do it.  Can I cancel this?

[2018-07-31 16:43] petong commented on #190
This appears to be a mismatch in glibc versions. I will test on Ubuntu 14.04 shortly to verify.

[2018-07-31 19:46] page1 commented on #121
I was having weird things going on such as loading the market page and seeing no markets so I reset the db. Sync has not been smooth. Currently seeing a bunch of these after not looking for over an hour.

[code]

Going to restart sync and hope to get farther.

[2018-07-31 20:30] petong commented on #190
glibc on 14.04 is quite old, 2.19. I don't think we plan on supporting 14.04 since the release date was July 24, 2014 and End Of Life was April 2019.

[2018-07-31 20:53] page1 commented on #230
From what I see in your transaction the order has run its course and the eth was returned since it wasn't able to fill against an existing order.
<img width="754" alt="screen shot 2018-07-31 at 2 50 22 pm" src="https://user-images.githubusercontent.com/6609556/43486459-2ab6a1fa-94d1-11e8-8a15-ce3252eb0e05.png">

@nuevoalex Let me know if I'm miss interpreting.

[2018-08-01 08:42] #190 closed

[2018-08-01 12:06] sharkcrayon commented on #271
@page1 Which version of the app are you on?

[2018-08-01 12:14] sharkcrayon commented on #271
https://app.clubhouse.io/augur/story/14831/github-cannot-read-property-webcontents-of-null

[2018-08-01 12:26] sharkcrayon commented on #266
@stanfordjesse1 Btw when you're replying from email, the full thread of the email is being appended, along with your signature and personal contact information. I've edited these out of your comments (assuming you don't want those broadcast). Just something to keep an eye on in the future.

[2018-08-01 12:27] sharkcrayon commented on #266
Adding this to our internal issue tracking system: https://app.clubhouse.io/augur/story/14833/github-orders-that-are-placed-and-subsequently-confirmed-are-not-appearing-on-order-books

[2018-08-01 12:30] sharkcrayon commented on #209
@Bomper Sorry, just posted that up there as a way to track that it's been added to our internal issue tracking system.

We'll be taking care of that soon.

[2018-08-01 12:33] sharkcrayon commented on #80
This should be fixed now. I'm going to close this ticket, but please let us know if you see this issue again.

[2018-08-01 12:33] #80 closed

[2018-08-01 12:36] sharkcrayon commented on #113
This should be fixed now. Closing.

[2018-08-01 12:36] #113 closed

[2018-08-01 12:40] sharkcrayon commented on #129
https://app.clubhouse.io/augur/story/14835/github-only-able-to-add-buy-initial-liquidity

[2018-08-01 12:43] sharkcrayon commented on #131
@page1 Are you still seeing this with 1.0.7?

[2018-08-01 12:45] sharkcrayon commented on #131
This should be fixed now based on @epheph's PR. Closing, but please let us know if you see this again.

[2018-08-01 12:45] #131 closed

[2018-08-01 12:47] #159 closed

[2018-08-01 12:48] sharkcrayon commented on #174
Adding this to our internal issue tracker: https://app.clubhouse.io/augur/story/14836/github-add-appimage-release-file

[2018-08-01 13:02] sharkcrayon commented on #210
@joeykrug Are you still getting this issue with 1.0.7? Also, which nodes were you connected to? A lot of people were having syncing issues with Infura about a week ago.

[2018-08-01 13:03] sharkcrayon commented on #210
Adding to our internal issue tracker: https://app.clubhouse.io/augur/story/14839/github-augur-app-crashes-when-syncing

[2018-08-01 13:06] sharkcrayon commented on #213
Adding to our internal issue tracker: https://app.clubhouse.io/augur/story/14840/github-consider-options-for-ordering-disputed-markets

[2018-08-01 13:11] sharkcrayon commented on #228
This has been fixed now. Closing.

[2018-08-01 13:11] #228 closed

[2018-08-01 13:34] page1 commented on #271
@sharkcrayon 1.0.7

[2018-08-01 23:19] joeykrug commented on #78
Which timeline does this refer to?

The rest sounds great!

[2018-08-02 05:55] sharkcrayon commented on #230
@shane1900 If the "fill orders only" checkbox is checked, this means that the Augur contracts will only attempt to fill orders that are already on the orderbook. If your order cannot be totally completed by filling orders (i.e. someone filled the available orders before your tx went through or the orders were cancelled) then the excess ETH escrowed for your order is returned to you.

If you don't

[2018-08-02 05:57] sharkcrayon commented on #231
I'm going to keep this open until it is addressed.

[2018-08-02 06:16] sharkcrayon commented on #206
@page1 We've added additional market details to Trading page. You'll now see scalar min, max, and denomination.

I think the other change we need to make here is to force the market creator to add a denomination. It's currently not required.
Adding to issue tracker: https://app.clubhouse.io/augur/story/14882/make-the-denomination-field-required-for-scalar-markets

Your other the point that the mid

[2018-08-02 06:24] sharkcrayon commented on #262
@nuevoalex got a DM with the public address, just for the record.

[2018-08-02 06:28] sharkcrayon commented on #269
@negamax Did @bthaile's suggestions work?

[2018-08-02 06:39] negamax commented on #269
@sharkcrayon I moved to v1.0.7, have seen similar sync issue. My guess is this may be due to connection interruption. If my wifi drops suddenly (weather, network etc). Then this happens.

[2018-08-02 08:39] sharkcrayon commented on #269
@epheph @nuevoalex What's the status with the Augur App/Node auto-reconnect feature? Is that released yet? I'm guessing that might address this issue.

[2018-08-02 08:46] sharkcrayon commented on #247
Specifically, this is addressed:

They are now listed properly under Resolved (in the next release).

These two issues still need to be addressed:

Adding to issue tracker: https://app.clubhouse.io/augur/story/14577/github-make-calculate-payout-clearer-on-portfolio-positions-page

Adding to issue tracker: https://app.clubhouse.io/augur/story/14899/github-highlight-winning-outcome-on-trading-page-a

[2018-08-02 14:54] bthaile commented on #271
This will be fixed in the next version, to be coming out soon.

[2018-08-02 15:48] bthaile commented on #129
@page1 I'm not seeing this behavior. I can create both buy and sell orders for initial liquidity.

Are you still having this issue.

Are you saying that the SELL form is disabled? you can't add shares or price?

[2018-08-02 16:58] nuevoalex commented on #269
@sharkcrayon Not released yet. Should be in the next version

[2018-08-03 12:01] MarkWieczorek opened #281 "Show both Yes and No outcomes for binary markets"
Markets with **N** outcomes list all **N** outcomes under the "outcomes" section of the user interface. However, for binary markets, where **N=2**, only a single **Yes** outcome is provided.

This design decision will create endless confusion with newcomers that will never be resolved by any amount of education. For simplicity, the user should be able to buy a **No** share, without having to "shor

[2018-08-03 16:56] nuevoalex commented on #281
@MarkWieczorek I tend to agree. @sharkcrayon @tinybike

[2018-08-03 23:46] negamax commented on #269
This works well on 1.1.1 @sharkcrayon @nuevoalex

[2018-08-03 23:46] #269 closed

[2018-08-06 12:52] sharkcrayon commented on #281
I agree as well. We'll think through it this week while we're looking at redesigning parts of the trading page.

[2018-08-06 19:23] LuckyDucky19 opened #286 "Initial Trades Ignored During Create Market Stage"
When you are creating your own market, during the page to create an order to add liquidity to your market, the orders are just ignored.. IE MetaMask never asks to sign these transactions.  You have to place the trades after the market is created.

[2018-08-06 22:52] GustavMarwin opened #291 "Parity Node: Could not find balance for token decrease"
Parity node running without any particular option.

Error displayed in Augur UI:
"ERROR: Could not find balance for token decrease (token: 0xSOMEADDRESS, owner: 0xSOMEOTHERADDRESS)."

Judging by the upvotes, others are facing the same trouble:
https://np.reddit.com/r/Augur/comments/94rv08/error_when_running_with_local_parity_node/

[2018-08-07 13:10] sharkcrayon commented on #183
Support for auto-reconnecting is available in the latest release 👍. Closing.

[2018-08-07 13:10] #183 closed

[2018-08-08 17:41] petervecchiarelli commented on #286
https://app.clubhouse.io/augur/story/15115/github-initial-trades-ignored-during-create-market-stage

[2018-08-08 17:43] petervecchiarelli commented on #291
https://app.clubhouse.io/augur/story/15116/github-parity-node-could-not-find-balance-for-token-decrease

[2018-08-08 23:29] GustavMarwin commented on #291
what's that @petervecchiarelli ?

[2018-08-09 00:14] petervecchiarelli commented on #291
@GustavMarwin just means it's been added to the issue tracker :)

[2018-08-09 00:38] bthaile commented on #129
Reopen this issue if you see it again, closing

[2018-08-09 00:38] #129 closed

[2018-08-09 13:32] bthaile commented on #262
If this issue comes up again we'll reopen. Closing for now.

[2018-08-09 14:46] bthaile commented on #291
@GustavMarwin have you tried with new version of augur-app we added a lag so we can process log data with more integrity.

If you are not using augur-app then can you clarify your setup?

[2018-08-09 15:48] sharkcrayon commented on #262
I'm not sure that we've looked into this enough to close it yet.

@jragosa @7-- Are you still having this issue?

[2018-08-09 15:54] jragosa commented on #262
I was able to claim a few days later, I told @nuevoalex on Discord. But no new market I was involved in  resolved since then, so I haven't had a new opportunity to claim.

[2018-08-10 11:43] GustavMarwin commented on #291
@bthaile I have just tried the latest version and experience the same exact issue.

My setup is the latest versions of MacOS, Augur and Parity running on a remote server used the following way:

On my dedicated server I run "parity --ws-origins=all --ws-apis=all,-personal --ws-hosts=all"
On my local computer I run "ssh -L 8545:127.0.0.1:8545 -L 8546:127.0.0.1:8546 user@server_ip"

I'd like to ment

[2018-08-10 14:16] sharkcrayon commented on #262
@bthaile Can you coordinate w/ @7-- to get what information you need here?

[2018-08-10 15:25] bthaile commented on #262
@7– what endpoint are you using? Also can you try on version 1.2 just to make sure your augur-app is at the current version.

Also can you try using the ‘https://gethnode.com/http’ endpoint.

[2018-08-10 16:57] sharkcrayon commented on #286
@LuckyDucky19 Did you have to refresh the page or did Augur App crash after you signed the create market transaction and before you got a chance to sign the initial liquidity transactions?

[2018-08-11 00:13] epheph commented on #291
@GustavMarwin  can you run this curl command?

[code]

This will get logs from an old block. I've seen some pruning styles not have the logs going that far back. You'll know there's a problem if it is ```{"jsonrpc":"2.0","result":[],"id":74}
[code]

[2018-08-11 00:28] GustavMarwin commented on #291
I now know there is a problem: {"jsonrpc":"2.0","result":[],"id":74}

ahhhhh I get it... so that's clearly something that should be addressed though, many more people must have faced, or at least will face the same issue. How far back is a Parity node supposed to go? Is there a way to "ask" a parity node to get the necessary data? Or even a way to sync parity from scratch and specify a data point

[2018-08-11 00:34] epheph commented on #291
Yes, we will be releasing recommended options for running parity.

What version of parity?

[2018-08-11 00:35] GustavMarwin commented on #291
1.11.7-stable-085035fa2-20180717

[2018-08-11 04:44] 7-- commented on #262
I tried that endpoint and version 1.2, but am getting the same result.
![image](https://user-images.githubusercontent.com/4725003/43988268-b2fe2dea-9cff-11e8-8e51-5391042391f9.png)

[2018-08-11 13:14] MidnightLightning opened #304 "404 error when opening app"
On Windows 10, launching the desktop app works fine and I can sync to the Infura default node for the most part.

The client eventually gets to a "99.9%" sync point, and shows the "Open Augur App" button as enabled. But clicking on that button opens my web browser to a "http://127.0.0.1:8080" URL that shows all white except for a "404 page not found" notice.

![capture](https://user-images.githubu

[2018-08-11 14:03] bthaile commented on #304
What version of the app are you running?

[2018-08-12 20:11] MidnightLightning commented on #304
@bthaile v1.2.0

[2018-08-12 20:12] bthaile commented on #304
Try toggling ‘enable ssl for ledger’ maaybe that setting has an issue.

[2018-08-13 11:04] MidnightLightning commented on #304
Huh, that worked! Setting the "Enable SSL for Ledger" option, then clicking the "Open Augur App" button worked! Though Chrome complained of a certificate error, I could click past that and load the page.

Then, if I clicked the "Disable SSL for Ledger", then the site still worked, so seems that something got set oddly, and toggling that option cleared it.

[2018-08-13 11:04] #304 closed

[2018-08-13 19:26] nuevoalex commented on #262
@7-- Do you happen to remember the rough gas price on the network during this failure?

The gas required by the claim function is roughly 1.2 million, which mean with an account balance of only 0.18 you would only be able to afford this tx when gas prices are below ~15.

I suspect this is just not having enough gas for the tx. The current ledger support for displaying erorrs and adjusting gas is n

[2018-08-13 21:15] epheph commented on #224
This seems to have been resolved in https://github.com/AugurProject/augur-app/pull/294 , will go out in next release

[2018-08-14 04:39] jazy510 opened #307 "Can't claim Stake and Fees via Trezor"
Unable to claim all available stake and fees, from the Portfolio -> Reporting page.  When the claim button is clicked, and then SUBMIT on the “REVEIW WITHDRAWAL” screen, Chrome seems to spawn the Trezor window (same window/frame where you enter in the PIN) - but then that window immediately closes and the error message appears:
TREZOR INFORMATION
Error signing transaction: "Window closed"

[2018-08-14 05:37] nuevoalex commented on #307
@jazy510 Are there any errors in your browser console? If so could you please post them here.

Does the account you're attempting to claim from have a reasonable ETH balance to pay the gas fee for the TX?

[2018-08-14 12:08] #224 closed

[2018-08-14 14:48] jazy510 commented on #307
![image](https://user-images.githubusercontent.com/662519/44098880-2f0621fc-9f96-11e8-93b4-5cdc488caff6.png)
The account has an ETH balance > 10 ETH.  The trezor sign/ui window closes so fast, it seems like it's being spawned with something invalid making it immediately close.

[2018-08-14 14:56] jazy510 commented on #307
Here's the contents of the 1st:

transaction failed: Already waiting for a response
{constant: false, name: "redeem", inputs: Array(1), signature: Array(1), returns: "bool", …}
constant
:
false
estimateGas
:
false
from
:
"0x[CORRECT ETH ADDRESS HERE]"
inputs
:
["_sender"]
name
:
"redeem"
params
:
["0x[CORRECT ETH ADDRESS HERE]"]
returns
:
"bool"
send
:
true
signature
:
["address"]
to
:
"0xf1d09...

[2018-08-14 15:00] jazy510 commented on #307
and the 2nd err:

wrap-on-failed-callback.js:11 transaction failed: Window closed
 {constant: false, name: "redeem", inputs: Array(1), signature: Array(1), returns: "bool", …}
  constant: false
  estimateGas: false
  from: "0x[CORRECT ETH ADDRESS HERE]"
  inputs: ["_sender"]
  name: "redeem"
  params: ["0x[CORRECT ETH ADDRESS HERE]"]
  returns: "bool"
  send: true
  signature: ["address"]
  to: "0

[2018-08-15 02:34] jazy510 commented on #307
This is the 2 same errors when attempting to claim in Brave:

![image](https://user-images.githubusercontent.com/662519/44128661-fdce7a40-9ff8-11e8-9935-50c63dd5d8a2.png)

[2018-08-15 09:37] SirLancelot-OG commented on #207
This error is now occurring when querying `getMarketsInfo()` using `marketIds` from `getMarkets()`

[code]

[2018-08-15 15:44] bthaile commented on #207
Keeping track of this issue. https://app.clubhouse.io/augur/story/15422

[2018-08-17 15:50] sharkcrayon commented on #286
We're not able to reproduce this. Some changes in the pipeline make it so the user can sign initial liquidity transactions after creating the market.

[2018-08-17 15:50] #286 closed

[2018-08-18 13:36] matteopey commented on #291
I have this exact issue on latest:
`Parity-Ethereum/v2.0.1-beta-e7dc0bed1-20180726/x86_64-windows-msvc/rustc1.27.2`
 @GustavMarwin did you solve the problem?

[2018-08-18 20:38] bidfish opened #317 "Augur 1.3.0 Linux deb throws error and doesn't start up"
Augur log file:

`Error: Error: ENOENT: no such file or directory, open '/opt/Augur/resources/app-update.yml'`

[2018-08-18 20:41] bthaile commented on #317
We thought we’d lick this. Thanks for reporting. We’ll work it.

https://app.clubhouse.io/augur/story/15591

[2018-08-18 22:42] jazy510 commented on #307
This is still occurring in 1.3.0

![image](https://user-images.githubusercontent.com/662519/44303722-2d958780-a2fd-11e8-9314-93779e9e04cb.png)

[2018-08-19 01:29] bthaile commented on #307
Creating issue, different than claiming priceeds fix in 1.3

https://app.clubhouse.io/augur/story/15592

[2018-08-19 14:01] mrothiel commented on #317
This is how the complete exception looks for me. Also the program still seems to be running, as I have to shut it down with strg+c. Im running Ubuntu 18.04.

`[info] Checking for update
[error] Error: Error: ENOENT: no such file or directory, open '/opt/Augur/resources/app-update.yml'
at /opt/Augur/resources/app.asar/node_modules/electron-updater/src/AppUpdater.ts:427:27
at Generator.next (<anonym

[2018-08-19 15:07] bthaile commented on #317
Dup of #317

https://github.com/AugurProject/augur-app/issues/317

Closing

[2018-08-19 21:14] bthaile commented on #317
https://github.com/AugurProject/augur-app/releases/tag/v1.3.1

[2018-08-19 21:15] bthaile commented on #317
try release 1.3.1, let us know if the issue has been fixed.

[2018-08-19 21:52] becin commented on #317
Same issue persists with 1.3.1 using the .deb installer

[2018-08-20 15:36] elie222 opened #320 "Syncing stuck at 0%"
I'm on a Mac on version 1.3.1. I haven't bene able to run Augur since 1.0.0. I try again every few releases. I've attached a screenshot of the state I see. Been stuck in this state for a few minutes. No idea if it's making progress or not. Doesn't look like it.

<img width="961" alt="screen shot 2018-08-20 at 18 32 40" src="https://user-images.githubusercontent.com/3090527/44350388-e8fa1f80-a4a7-1

[2018-08-20 15:38] bthaile commented on #320
MacOS : ~/Library/Logs/augur/log.log

can you look in the log file, maybe there's a error to shed some light on this.

[2018-08-20 16:13] elie222 commented on #320
[code]

[2018-08-20 16:16] bthaile commented on #320
[code]

it's working, no errors,

it's downloading logs, this might take 5 min plus, depending on your internet connection. Then it will process the logs and start the bulk sync. Then progress shows.

you can also try the `local light client` it takes a long time also, but is more robust and shows more progress but also appears to stall when it's downloading logs.

I suggest waiting.

[2018-08-20 17:04] elie222 commented on #320
Been waiting a few hours with no success. Joey mentioned on twitter that it
doesn't work with Infura however?

On Mon, 20 Aug 2018, 19:16 Tom Haile, <notifications@github.com> wrote:

[2018-08-21 00:41] Vints opened #321 "Mainnet configuration doesn't connect after 1.3.2 update"
One thing to note: I deleted the augur folder from ~/Library/Application Support/ which seemed to help in the past when I couldn't connect to the Mainnet.

After doing the above, I also deleted the log file and then re-attempted to connect. Here are the logs:
<img width="645" alt="screen shot 2018-08-20 at 5 42 23 pm" src="https://user-images.githubusercontent.com/6623399/44373896-6e79d180-a4a0-11

[2018-08-21 12:35] bthaile commented on #321
gethnode.com is a community provided ethereum node, it might of had hiccups.

Try the ‘local light node’ network configuration.

[2018-08-21 14:17] JohnDanz commented on #266
Hi @stanfordjesse1, Are you still unable to see your orders?

[2018-08-21 16:30] andyvauliln opened #322 "can't open augur app"
After i pressed open "augur app button" I was redirected to localhost
http://127.0.0.1:8080/#/categories?augur_node=ws%3A%2F%2F127.0.0.1%3A9001&ethereum_node_http=http%3A%2F%2F127.0.0.1%3A8545&ethereum_node_ws=ws%3A%2F%2F127.0.0.1%3A8546

and nothing happening after this

I tried in mainet and also in local light mode

version 1.3.2 os mac sierra 10.12.6

[2018-08-21 17:26] #320 closed

[2018-08-21 17:45] petervecchiarelli commented on #321
Adding to issue tracker: https://app.clubhouse.io/augur/story/15647/github-mainnet-configuration-doesn-t-connect-after-1-3-2-update

[2018-08-21 17:47] petervecchiarelli commented on #322
Adding to issue tracker: https://app.clubhouse.io/augur/story/15648/github-can-t-open-augur-app

[2018-08-21 19:02] Vints commented on #321
I was able to get the local light node configuration working, so this issue can be closed :)

Although... I did run into another issue with local light node, but @nuevoalex put up this PR to fix it: https://github.com/AugurProject/augur-app/pull/323

[2018-08-21 19:16] #321 closed

[2018-08-21 19:36] bthaile commented on #322
When you say nothing happens, does blank web page come up?
If so,
Can you try toggling ‘enable ssl for ledger’ in augur-app setting menu options?

Then try to click on ‘Open Augur App’ button again.

[2018-08-22 07:14] pgebheim commented on #317
Hello @becin!

This issue was fixed in 1.3.2 -- sorry for the inconvenience.

[2018-08-22 07:14] #317 closed

[2018-08-22 21:50] 7-- commented on #262
That was the issue. When I added more ETH it worked.

[2018-08-22 21:50] #262 closed

[2018-08-24 16:28] enolan opened #326 ""My REP staked" is 0 but I've disputed things"
On the reporting/dispute page, it says my REP staked is zero, but I staked rep to dispute two markets. Is this a display issue, or did the disputing fail somehow?

Transaction 1: https://etherscan.io/tx/0x7931e4de2696822d5b8f3e4d7f1ad65aee4ea7e8c7beb8df84d6e4743fa4738d

Transaction 2: https://etherscan.io/tx/0x3c9c987fb2bb448929a162b5826af6ff26b292df4adb10d1f223b0b748df2abc

[2018-08-25 19:57] andyvauliln commented on #322
I dealt with it, thx

[2018-08-25 19:57] #322 closed

[2018-08-25 20:53] joeykrug commented on #281
For binary markets imo this should be a setting in the UI. Choose whether you want to just go long or short [and don't _name_ the outcome anything IMO]. Or choose to see both yes + no

[2018-08-27 15:16] bthaile commented on #326
I agree we need to display the REP that can be on the next fee window. I added a task for us to see whats the best approach.

https://app.clubhouse.io/augur/story/15693

[2018-08-28 00:27] enolan opened #327 "Incorrectly reports position in settled market is a huge negative number"
After trying to collect trading proceeds in [this tx](https://etherscan.io/tx/0x2ff1617b2a99fb23109cd94ba31f530cf2d06ea6daef9385675568a7e2ea6956), the app says I have a position of -1,985,999,999,999,999,999.1790 in market 0x95f2301a56a94b1ef6b60b5e94085462e71432fb. I poked around in the browser console, and `augur.trading.getUserTradingPositions({account: "0xbf473d6016f15e757c677c7a8cf88e22718b40

[2018-08-28 01:27] bthaile commented on #327
Thanks, we’ve come acclross this issue, augur-node isnt converting from atto shares (2***18) before doing calculations. We are working the issue,

Will update this issue when fixed.

[2018-08-28 02:02] blake-regalia opened #328 "Checksums?"
Perhaps I am doing something wrong, but my checksums are not consistent with what is being reported in release notes:

| **Platform** | **Checksum** |
| --- | --- |
| Mac | 0da999d014547f1d7d9715939f42a4371c5bf13cb6f834c5205cc58a8307947f |

[code]

Also:
[code]

[code]

[2018-08-28 02:26] negamax opened #329 "Feature Request: Show REP staked in disputes"
I think it's very important to be able to see how much REP an individual has staked on a particular market in a dispute. Currently, there doesn't seem to an easy way (or any way?) to do this.

[2018-08-28 02:28] bthaile commented on #329
Are you on the most recent augur-app? 1.4.0
Navigate to reporting -> dispute
You’ll see all the REP you have staked on the fee window.
If your stake has resulted in filling a dispute bond your REP will be seen on next fee window.

[2018-08-28 02:40] negamax commented on #329
@bthaile I am on version 1.4.0. Auto update rocks! My comment is about individual market disputes. If I am using REP to dispute an outcome. There's no way to see how much REP was used for that.

[2018-08-28 02:43] bthaile commented on #329
Are you saying there is no way to see past dispute abouts? Like if the market is in round 4 the amount of REP used for round 3 isnt shown?

There are current REP staked amounts on the dispute market card and if dispute is active the disput form shows current REP staked on each outcome.

[2018-08-28 06:41] negamax commented on #329
I am saying there's no way to see my own dispute REP staked on an outcome. Also this should be available in similar fashion as Positions? In this case, users a literally using the same mechanism but using REP instead of ETH. But there's no easy way to track and see it

[2018-08-28 14:00] #266 closed

[2018-08-28 16:13] shane1900 commented on #230
Thanks @sharkcrayon

[2018-08-28 16:13] #230 closed

[2018-08-29 02:53] jazy510 commented on #307
fwiw, this remains an issue with 1.4.0, in Brave browser.

[2018-08-29 02:59] nuevoalex commented on #307
@jazy510 do you get the same console errors as well?

[2018-08-30 17:50] enolan opened #330 "Allow disputers to post a short comment explaining why they think a market should resolve a certain way"
There's a serious lack of communication in disputes right now. I sometimes have no idea why people are disputing things a particular way. I think the situation could be improved by allowing people who stake REP on disputes to write a short comment explaining their reasoning. So for example: Alice disputes market X as invalid. She writes: "This market is impossible to resolve, because it's underspe

[2018-08-31 08:59] SirLancelot-OG commented on #146
Having the same issue using the latest augur-node software:

``Could not find balance for token decrease (token: 0x1985365e9f78359a9b6ad760e32412f4a445e862, owner: 0x4161e7eada1cd4047a2b68a0d7d539b5d54f1762)``

[code]

[2018-08-31 20:37] bthaile commented on #330
Come to find out, v2 contracts will have an optional discussion field with disputes. So the option will be there.

[2018-08-31 21:06] enolan commented on #330
Great. I didn't want to get into too much of an argument, but having them
in-client provides a good Schelling point.

On Fri, Aug 31, 2018, 1:37 PM Tom Haile <notifications@github.com> wrote:

[2018-08-31 22:58] CptanPanic commented on #327
Yes I have this issue also showing a net position on a market of -4,442,999,999,999,999,999.8570

[2018-09-01 01:11] bthaile commented on #327
Known issue, thanks for reporting. Closing

[2018-09-01 01:11] #327 closed

[2018-09-03 20:41] enolan opened #339 "Transferred share tokens don't show up in position view"
I transferred some share tokens from one account to another, and they aren't showing up in the destination account and still show up in the sending account.

[2018-09-04 02:50] bthaile commented on #339
Do you have a etherscan transaction? You can DM in discord.

[2018-09-04 07:01] justinbarry commented on #328
@blake-regalia Thank you for the report! I will look into this.

[2018-09-04 07:40] justinbarry commented on #328
@blake-regalia I cobbled together a script that emulates the behavior of electron-builder. I'm only commenting on the hashes in latest.yml.

[code]

And the output:
[code]
The output appears to be consistent with the values in the yml file.

I'm unsure why the hash is different across the different tools. Below is my attempt to rule out encoding and it doesn't appear to have worked.

[code]

I hav

[2018-09-04 09:07] pgebheim commented on #328
The hashes in release-checksums.txt are SHA256.

They are calculated by CI before being uploaded to github.

These artifacts are then confirmed by a release tool by downloading the installer, computing the hash and then comparing the result with the SHA256 we uploaded to github.

If this all passes then we aggregate the checksums for all platforms into a file and sign it with the forecast Foundati

[2018-09-04 13:05] PichlerD commented on #146
Same issue on, 1.4 trying to use a current local parity node that has worked before. OS: Win10

[2018-09-04 16:17] enolan commented on #339
https://etherscan.io/tx/0xd9370f8eb492cfecf91852f2bd57fc4e2a1a8e2593648ad9dc0cb50c78aa0ca2

[2018-09-04 16:52] andresilva commented on #291
I think this could be two things:
1. If you warp synced it's possible your node is still downloading ancient blocks and therefore doesn't have the data available to reply correctly. Currently it replies with an empty result (there's an issue to improve this: https://github.com/paritytech/parity-ethereum/issues/7411).
1. We had a bug recently related to the storage of blooms when re-orgs happened,

[2018-09-04 16:55] petong commented on #328
The checksums are generated using sha256, not sha1. We should probably clarify that somewhere:

[code]

[2018-09-04 16:55] #328 closed

[2018-09-04 18:39] epheph commented on #291
Could anyone who is having an issue with the above getLogs returning null try running this curl?
[code]

[2018-09-04 18:52] matteopey commented on #291
It works. I can make any API calls to any transaction on any blocks as long as filtering logs is not involved.
[code]

[2018-09-04 20:58] epheph commented on #291
@matteopey and when you run the above getLogs:
[code]

you get a `[]` response? What parity version? That seems like a parity bug if you get nothing there, like they didn't update bloom filters during warp sync maybe?

[2018-09-04 21:01] epheph commented on #291
I have what seems like might be a different issue. I just warp-sync'd a brand new parity (version: v1.11.7 ) and here is the behavior I am seeing:
[code]
It returns "null" for a getBlock of 6260000, but returns the block properly for 6260001.
This is strange behavior. My understanding was that even a light node should respond to getBlocks requests for old blocks. This one is only 2 days old.

[2018-09-04 21:57] Tbaut commented on #291
what was the first blocks you were syncing normally after the warp sync? It could very well be  6260001.
Warp sync is simply giving you the snapshot of the state of a node. Normal sync will resume from this block on and in the future your node will download and verify all the remaining blocks (from the snapshot block until the genesis). But this can take a while.

A light node is something else, a

[2018-09-04 22:34] matteopey commented on #291
@epheph With getLogs on old blocks I get empty result.
[code]
I use Parity 2.0.1, and that's the problem. As andresilva said, the database got corrupted in the migration from the old Parity 1.11 to 2.0.1. This behavior happens for any `getLogs` call on any block prior to the migration.
For recent blocks everything works fine, for example:
[code]
I'm in the process of resyncing again (without warp-

[2018-09-04 22:38] epheph commented on #291
OK, it's possible your parity 2.0 installation was just in the middle of a warp sync. That is the exact behavior we have been witnessing (that @Tbaut mentioned). When you warp sync, your Ethereum node has a "gap" in its knowledge (and does not respond in a way that indicates there was a problem, just says `[]` "nothing was there"). It is doing a background refresh of blocks previous to your warp b

[2018-09-05 05:42] bthaile commented on #329
We are in agreement and have started to making additions to portfolio reporting page. We are going to start by adding all markets the user has staked REP on. Look for this in the next release.

We’ll be designing out additions to this page where the user will be able to see their REP staked on which outcome in each dispute round.

Internal tracking of feature:
https://app.clubhouse.io/augur/story/

[2018-09-05 05:45] bthaile commented on #146
What ethereum node endpoint are you trying to connect to?

There has been recent discoveries with parity. There’s a bug that doesn’t work well with Augur and the ethereum node needs specific start up parameters.

[2018-09-07 19:05] beatelite opened #351 "Mac Download throwing 404"
On your release page: https://github.com/AugurProject/augur-app/releases

On the mac link: https://github.com/AugurProject/augur-app/releases/download/untagged-d8a41318d015415507b0/mac-Augur-1.4.0.dmg

I get 404.

[2018-09-07 20:37] bthaile commented on #326
We made changes to handle showing REP balance when user stakes on dispute and fills bond. We'll be releasing that in 1.5.

[2018-09-07 23:10] bthaile commented on #351
Thanks, we’ll make sure to fix that and verify the download link works for 1.5, coming out soon.

[2018-09-07 23:16] petong commented on #351
links fixed

[2018-09-07 23:16] #351 closed

[2018-09-08 20:33] joeykrug commented on #210
None of these are issues for me anymore

[2018-09-08 20:33] #210 closed

[2018-09-09 03:46] bthaile commented on #339
Internal issue tracking
https://app.clubhouse.io/augur/story/15982/github-transferred-share-tokens-don-t-show-up-in-position-view

[2018-09-09 03:50] bthaile commented on #307
@jazy510 Have you tried using a different endpoint to connect to mainnet? recommend

https://gethnode.com/http
wss://gethnode.com/ws

[2018-09-09 03:53] bthaile commented on #271
addressed in 1.4

[2018-09-09 03:53] #271 closed

[2018-09-09 03:54] bthaile commented on #258
not heard from member, closing

[2018-09-09 03:54] #258 closed

[2018-09-09 03:55] bthaile commented on #248
working feature to allow users to change gas price in app. closing

[2018-09-09 03:55] #248 closed

[2018-09-09 03:57] bthaile commented on #209
been addressed.

[2018-09-09 03:57] #209 closed

[2018-09-09 03:58] bthaile commented on #174
been addressed.

[2018-09-09 03:58] #174 closed

[2018-09-09 03:59] bthaile commented on #157
We'll be working on an auto-login and manual logout feature.

[2018-09-09 04:01] bthaile commented on #233
Make sure your geth node is running on a machine with SSD hard drive, drive speed can be a bottleneck. closing

[2018-09-10 16:45] bthaile commented on #339
@enolan Did you use myEtherWallet or myCrypto to try and move the shares?

[2018-09-10 17:12] enolan commented on #339
I did it inside of MetaMask

On Mon, Sep 10, 2018, 9:45 AM Tom Haile <notifications@github.com> wrote:

[2018-09-10 17:13] jazy510 commented on #307
There seems to just be 1 error in Brave when attempting to claim, similar as before. Brave attempts to spawn the trezor window but fails and give this error:

![image](https://user-images.githubusercontent.com/662519/45312864-1bfd6500-b4e2-11e8-8f01-cb85e714b572.png)

[2018-09-10 19:48] bthaile commented on #281
Internal tracking system, It looks like we all agree. closing
https://app.clubhouse.io/augur/story/16009/show-both-yes-and-no-shares

[2018-09-10 19:48] #281 closed

[2018-09-10 19:49] #326 closed

[2018-09-10 19:50] bthaile commented on #249
No feedback for a while, considered resolved.

[2018-09-10 19:50] #249 closed

[2018-09-10 19:56] bthaile commented on #247
Internally discussing other feature requests in internal system. closing this

[2018-09-10 19:56] #247 closed

[2018-09-10 19:58] bthaile commented on #234
We are tracking this internally, closing this

[2018-09-10 19:58] #234 closed

[2018-09-10 20:03] bthaile commented on #339
Is this the destination address `0xeeab37ed9f0fc208065af1be9a17c343e5e1b0bb`?

https://etherscan.io/token/0x3169a97a51b7b7f2d8cf87fe92b338ccdc6f33c0?a=0xeeab37ed9f0fc208065af1be9a17c343e5e1b0bb

looks like it has a balance of `10,000,000,000 SHARE`. Am I reading all that correct?

[2018-09-10 20:04] bthaile commented on #75
Currently working this feature. Tracking internally. closing

[2018-09-10 20:04] #75 closed

[2018-09-12 01:50] bthaile commented on #339
“Our positions are populated entirely by trading actions. We don't support manual transfers in our UI at all yet and it will generally not perform well.”

Here is our view on the subject of manually tranferring share tokens.

We do have a task to help facilitate transferring share tokens. Its currently in discussion.

[2018-09-12 01:50] #339 closed

[2018-09-12 01:59] nuevoalex commented on #339
To clarify the transfer appears to have been successful from the etherscan link that was posted, however this won't be displayed in the Augur client properly as it is based entirely on the results of trading.

[2018-09-12 02:05] bthaile commented on #339
I see, @enolan would have to manually send a tx to claim winning proceeds. The UI relizes on augur-node for aggregated data.

Currently augur-node doesnt recognize the manual transfer so the UI wont show properly. Portfolio positions view wonst show that there is a position therfore, The ‘claim proceeds’ button won’t show in the portfolio positions page.

[2018-09-12 16:49] jazy510 commented on #307
Doesn't seem to be any popup setting, as I'm able to login OK via Trezor in Brave (Account -> Trezor -> Connect Trezor) with the popup window.
When attempting to claim (or do any signing, it seems) or Bidding on an Outcome, the same error happens:

Error signing transaction: "Window closed"

[2018-09-13 16:57] john-light commented on #233
Closing this issue for now as I have switched to try a Parity node (which also is having its own [issue](https://github.com/AugurProject/augur-app/issues/291)).

[2018-09-13 16:57] #233 closed

[2018-09-14 00:58] adrake33 commented on #270
Added to issue tracker: https://app.clubhouse.io/augur/story/16265/github-variable-market-creator-bond

[2018-09-14 01:08] adrake33 commented on #104
Closing this for now, as https://app.clubhouse.io/augur/story/14763/show-unsigned-initial-liquidity-orders-on-portfolio-my-markets-page is marked as Completed.

[2018-09-14 01:08] #104 closed

[2018-09-14 01:57] adrake33 commented on #263
@JohnDanz https://app.clubhouse.io/augur/story/14662/github-market-liquidity-on-review-page-is-incorrect-if-it-s-adjusted is marked as completed. Can this issue be closed?

[2018-09-14 02:03] adrake33 commented on #206
@sharkcrayon Can this issue be closed now that https://app.clubhouse.io/augur/story/14882/make-the-denomination-field-required-for-scalar-markets is marked as Completed?

[2018-09-14 02:06] adrake33 commented on #205
Closing this since https://app.clubhouse.io/augur/story/12974/add-green-and-red-up-and-down-arrows-to-last-price is marked as Completed. Please let me know if there is any reason why this issue should remain open.

[2018-09-14 02:06] #205 closed

[2018-09-14 07:02] nuevoalex commented on #307
@jazy510 Does this occur in Chrome as well?

[2018-09-14 12:25] carl339 opened #367 "Antivirus app error"
Since 1.2 version, karpersky antivirus and it heuristic don't let me download the app, because identify the app like a trojan: Trojan.Win32.alien.generic, i don't know what to do, and i don't like to desactivate the antivirus to install it!

![screenshot_1](https://user-images.githubusercontent.com/43270797/45550003-48b9c100-b7ef-11e8-936e-f6928931aabd.jpg)

[2018-09-14 18:57] epheph commented on #207
Resolved here: https://github.com/AugurProject/augur-node/pull/614

[2018-09-14 20:38] adrake33 commented on #78
@epheph Can this issue be closed? Is there any reason to keep it open?

[2018-09-15 01:06] tinybike opened #369 "Vulnerabilities reported by npm audit"
[code]

[2018-09-18 20:09] adrake33 commented on #121
@timnugent @page1 Are either of you still having issues as of version 1.5.0? Can this be closed?

[2018-09-18 21:30] Shrey33 commented on #369
@tinybike can tell me the impact ?

[2018-09-19 02:52] bamos01 opened #373 "Augur App cannot read balance of metamask account that I have made multiple bets with"
OS: Mac OSx
Version 1.5 and 1.5.1
Browser: Chrome
Description:  After upgrade to version 1.5, augur app was unable to read ETH / REP balances of my main metamask account that I have been using with the app for several weeks.  I can still see markets /bets and some old notifications, but all balances are read as '0'.  When I switch to a new account within metamask, it reads the balances correctly-

[2018-09-19 18:36] veox commented on #373
Sounds to me like there's something in that account's history that makes it impossible to load in its entirety.

Just to clarify: have you used the account with other wallets?

Are you using a local Ethereum node as the backend? Or the default one given by choosing "Mainnet"?

Are there any error messages in the browser console? (In Chromium: right-click anywhere in the page, select "Inspect Eleme

[2018-09-19 18:53] veox commented on #373
You could also try creating a fresh browser profile, and importing the account there.

If that works, perhaps a "cache clear" on the original profile could help "fix" that profile, too; however, I wouldn't rush to do it if that's the case - might be valuable to determine what actually went wrong.

[2018-09-19 20:31] veox commented on #373
In my case, I guess it was caused by "suppressing" a transaction (same-`nonce` higher-`gas_price` empty-`data` via MyCrypto desktop app) that was meant to cancel an open order.

The order remained in display with "cancellation pending", and the next time I restarted the app, this issue surfaced.

[2018-09-20 01:50] adrake33 commented on #121
Closing this issue for now. Feel free to reopen if need be.

[2018-09-20 01:50] #121 closed

[2018-09-20 16:19] adrake33 commented on #307
Closing this for now because Brave is not officially supported by Augur.

@jazy510 If you are seeing this issue in Chrome/Firefox, please feel free to reopen this ticket.

[2018-09-20 16:19] #307 closed

[2018-09-20 16:33] adrake33 commented on #373
Adding this issue to our internal tracking system: https://app.clubhouse.io/augur/story/16674/github-augur-cannot-read-balance-of-metamask-account

[2018-09-20 16:36] bamos01 commented on #373
Deleting the chrome cache fixed the problem.  You can close.

On Thu, Sep 20, 2018 at 12:33 PM, Aaron Drake <notifications@github.com> wrote:

[2018-09-20 18:01] #78 closed

[2018-09-20 20:16] adrake33 commented on #367
@carl339 You may need to add Augur to Kaspersky's list of Trusted Applications. Try looking at https://support.kaspersky.com/11444 to see if that helps.

[2018-09-20 20:43] artlog opened #375 "is there an issue with checksums of 1.5.1 release ?"
https://augur.stackexchange.com/questions/782/checksum-verification-for-linux-users-of-augur-app/843#843

shasum -a 256 linux-Augur-1.5.1.AppImage
aae4d6a9452c4a7a0d77251101f9774d1e7d03387ec694eb9b9bdf0d496a08c2  linux-Augur-1.5.1.AppImage

cat linux-Augur-1.5.1.AppImage.sha256
aae4d6a9452c4a7a0d77251101f9774d1e7d03387ec694eb9b9bdf0d496a08c2 linux-Augur-1.5.1.AppImage

this one is correct but :

[2018-09-21 12:02] larspensjo commented on #373
@adrake33 I have the same problem, please re-open again. In my case, (version 1.5.1) worked until I did a re-issue of a Metamask transaction with a higher fee.

[2018-09-21 14:56] carl339 opened #376 "error connect to mainnet"
i cant connect to the ethereum mainnet, im try reset database, erase config file and change Websocket endpoint: http://gethstar.com/ethereum-http, but nothing of this works!

![image](https://user-images.githubusercontent.com/43270797/45888808-98b2fd80-bd84-11e8-9471-a374ceade76f.png)

[2018-09-21 15:03] bthaile commented on #376
MacOS : ~/Library/Logs/augur/log.log

Are there errors in your log file?

Windows : %USERPROFILE%\AppData\Roaming\augur\log.log

Linux : ~/.config/augur/log.log

[2018-09-21 15:07] bthaile commented on #373
See if hard refreshing your web browser helps. That will force loading fresh.

[2018-09-21 15:30] carl339 commented on #376
I appear this:

![image](https://user-images.githubusercontent.com/43270797/45890697-36103080-bd89-11e8-997e-c76c8b7dd871.png)

I don't know, maybe a problem with the program database?

[2018-09-21 15:34] carl339 commented on #376
i resolve the problem, only delete the old database and works!! tks bthaile for give me the idea!!!

![image](https://user-images.githubusercontent.com/43270797/45890950-e41bda80-bd89-11e8-8001-614c6ac7e649.png)

[2018-09-21 15:35] bthaile commented on #376
Awesome! Closing.

Reopen this if your issue happens again.

[2018-09-21 15:35] #376 closed

[2018-09-22 12:44] veox commented on #373
Re-confirming the cause being manipulating the transaction queue on the account, such as increasing the gas price or suppressing the transaction.

A simple "hard refresh" is insufficient to work around this. Only clearing site data helps.

This is a regression from v1.4.0, where I used to do this routinely.

Please do reopen for visibility.

[2018-09-23 00:32] adrake33 commented on #373
Reopening and will investigate more.

[2018-09-23 12:27] bamos01 commented on #373
It’s always only the same one account affected and it is the one I have used the most on Augur

On Sat, Sep 22, 2018 at 8:32 PM, Aaron Drake <notifications@github.com> wrote:

[2018-09-23 18:12] tinybike commented on #369
@Shrey33 No, not really -- this was auto-generated by npm audit.  Up to @nuevoalex & co whether this is needed / worth merging!  Leaving the PR open until they decide.

[2018-09-24 17:58] adrake33 commented on #375
Added to internal tracking system: https://app.clubhouse.io/augur/story/16825/github-update-checksum-for-augur-app-1-5-1

[2018-09-24 20:53] adrake33 commented on #367
@carl339 Closing this issue for now. If this is still a problem, please let me know.

[2018-09-24 20:54] #207 closed

[2018-09-24 20:55] #367 closed

[2018-09-24 20:59] petong commented on #375
Thanks for pointing this out, our CI system was triggered twice for this tag and some of the checksums did not match. the release-checksum fle should be accurate now.

[2018-09-24 20:59] #375 closed

[2018-09-24 21:32] adrake33 commented on #105
Closing this for now. @Hex-Capital Please let me know if this should be re-opened.

[2018-09-24 21:32] #105 closed

[2018-09-25 16:11] bthaile commented on #373
We have a fix for this issue, seems to be an error with pulling user data from localStorage, reason for clearing the cache works. We have a fix coming out in next release.

[2018-09-30 09:36] artlog commented on #375
thanks for your work.

[2018-09-30 17:00] johansigfrids opened #384 "Error syncing market data after update to 1.6.1"
After the update to 1.6.1 I am getting the following error when attempting to sync market data:

[code]

[2018-10-01 05:19] nuevoalex commented on #384
Made an issue for this one for us to track internally: [issue](https://app.clubhouse.io/augur/story/17134/token-supply-row-not-removed-in-market-created-log-removal)

[2018-10-01 11:48] veox commented on #373
I've tried to reproduce this with v1.6.1, and was no longer able to.

Guess OK to close issue.

[2018-10-01 12:28] larspensjo commented on #384
I have the same problem.

[2018-10-01 16:04] #373 closed

[2018-10-02 08:28] MrDThe opened #387 "SQLITE_ERROR: table search_en has no column named consensusPayoutId"
Hi,

Update 1: I just removed folder C:\Users\%USERNAME%\AppData\Roaming\augur. Now it seems to connect and starting to download logs.

I uninstalled all Augur software and re-installed the latest version (currently v1.6.2).

When I start the software and Connect to the Mainnet, I get the following error message:

insert into `search_en` (`category`, `consensusPayoutId`, `creationBlockNumber`, `cr

[2018-10-03 07:18] veox commented on #384
I think this has been fixed in [v1.6.2](https://github.com/AugurProject/augur-app/releases/tag/v1.6.2)?..

[2018-10-03 07:21] MrDThe commented on #387
Update 2: Removing the augur folder in roaming resolved the issue. I came from an older version of Augur (not being the previous version). Looks like the database upgrade went wrong or something like that.

[2018-10-03 07:33] larspensjo commented on #384
Doesn't work with 1.6.2 for me, I get the same error. Doing a "reset database" doesn't help.

[2018-10-03 15:03] veox commented on #384
@larspensjo Do you mean that "reset database" doesn't reset the database, or that the issue re-surfaces after re-syncing?

(I've encountered the former a few times, where clicking "reset database" doesn't really do anything.)

[2018-10-03 15:48] larspensjo commented on #384
I don't know if the database was reset. I just tried to click that option, and see if anything improved. Maybe it is irrelevant to the issue.

I would really like to know how I can make a new clean install, and start everything fresh again. If I uninstall the Augur app, and re-install an older version, there seems to be some saved data somewhere that prevents it from working.

[2018-10-04 08:31] larspensjo commented on #384
Thanks, renaming the "augur" folder forced a reset, and now 1.6.2 now works for me.

[2018-10-04 11:09] veox commented on #384
OK, looks like there's an unrelated issue that could use being reported. ;)

[2018-10-11 23:11] adrake33 commented on #387
Closing this issue, as this will be fixed when version 1.7.0 is released.

[2018-10-11 23:11] #387 closed

[2018-10-11 23:15] adrake33 commented on #384
Closing this issue, as the DB reset bug should be fixed when version 1.7.0 is released.

[2018-10-11 23:15] #384 closed

[2018-10-11 23:17] adrake33 commented on #263
Closing this issue, since it should now be fixed.

[2018-10-11 23:17] #263 closed

[2018-10-15 19:27] adrake33 commented on #270
Closing this issue. It has been discussed and is being added to version 2 of the Augur smart contracts.

[2018-10-15 19:27] #270 closed

[2018-10-17 22:53] adrake33 commented on #369
Closing since we'll be using Greenkeeper for this.

[2018-10-17 22:53] #369 closed

[2018-10-28 09:35] blacktemplar opened #396 "Problems with compilation from source "Cannot GET /""
Since multiple Augur versions my Arch Linux Package which packages Augur doesn't work anymore (https://aur.archlinux.org/packages/augur-git/). The Augur-App starts up and synchronizes normally but when one opens the UI the only html-response is an Error "Cannot GET /".

Steps to reproduce the problem:
[code]

The weird thing is that if we are calling the executable `../augur` everything works fine

[2018-11-01 20:46] veox opened #401 "v1.7.0 overwrites `uiPort` setting in `app.config` on start"
... as well as, possibly, the rest of the config file.

By default, `uiPort` is set to `8080`. That port is a "generic" HTTP-alternative, and expecting it to be available is, well, pretentious.

I've changed the port previously to 38080, but after upgrading to `augur-app` v1.7.0 the config file's overwritten with the default, on every app start.

There seems to be no in-app way to change the UI po

[2018-11-01 21:03] bthaile commented on #401
We made a recent change that disables users ability to set a custom ui port. We will add a Form textbox in augur-app to make it easier to set a different ui port.

Look for that feature in the next release.

[2018-11-06 09:24] kosecki123 opened #402 "Feature: Use Ethereum-Alarm-Clock to automate time dependent actions"
This issue has been open for discussing the possible integration with Ethereum-Alarm-Clock protocol in order to improve UX by scheduling actions  (smart contract execution).

Based on http://docs.augur.net/#market-state-progression read and discussing with @bthaile during DevCon, the Reporting process seems to be a good fit for scheduling. Scheduling meant as creating the delayed (at given time/bl

[2018-11-08 00:34] adrake33 commented on #402
Hi @kosecki123, it was great to meet you in person at Devcon! @bthaile is out on vacation this week, but let's discuss this more next week. Would next Monday work for you? Which time zone are you in?

[2018-11-08 19:16] adrake33 commented on #402
@kosecki123 We have a few questions regarding how we would use Chrono Logic.

Here is a summary of the reporting process on Augur:

1. User creates market and specifies and Designated Reporter. (The Designated Reporter is usually their address, but could be someone else's.) When they create the market, they also escrow a No-Show Bond denominated in Augur's REP token. This is REP that they will for

[2018-11-08 21:34] petong commented on #396
I believe I have tracked down the code that is causing this behavior.

[2018-11-08 23:17] adrake33 commented on #401
Closing this since this got implemented yesterday and will be in the next release.

[2018-11-08 23:17] #401 closed

[2018-11-09 01:41] petong commented on #396
the app uses `electron-is-dev` to determine the env that is being run. If the app isn't started via the binary then the library assumes that the env is dev:

[code]

since the ui-path has to be accessed by a browser it can't live within the asar packed app.

Currently looking to see if there is a way around this problem.

[2018-11-09 14:18] kosecki123 commented on #402
@adrake33 thanks for the explanation. Unfortunately, the `msg.sender` will be the scheduled contract in the simplest implementation and the problem you don't really know the address of the scheduled tx before you schedule. That's common problem for protocols that rely on "delegated execution" which will go away when account abstraction will be available.

The way this can be solved is by using "pr

[2018-11-09 22:56] adrake33 commented on #402
@kosecki123 We have a function in one of our contracts that can return whether the actual reporter was the Designated Reporter. Is there a way we could use Chrono Logic to conditionally submit the First Public Report if this function returns false?

[2018-11-11 08:29] joeykrug commented on #402
A much better use case for this to me, using all the same broadcaster/timenode infrastructure, is to enable paying for transaction fees in dai instead of eth. Prob need account abstraction to do it for all tx so it’s super useful, but that’s the direction I see things going

[2018-11-12 08:43] kosecki123 commented on #402
YES, totally agree, token payments (incl DAI) are very interesting approach. Account abstraction can be workarounded with the proxy/identity wallet mentioned in previous comments. One of the limitation of such a wallet is that it has to be deployed first by token owner (req ETH) or relayed with some incetive scheme like (I will deploy wallet for you if you rely 100tx using my service).

[2018-11-13 23:47] adrake33 commented on #402
@kosecki123 Thanks for helping us clarify the above questions! We need to discuss using EAC a bit more internally before deciding how to proceed, but we'll follow up with you shortly once we've had a chance to discuss this further.

[2018-11-21 09:23] tobutridaz opened #408 "v.1.8.0 A JavaScript error occured in the main process"
Windows 10 / just updated to v.1.8.0 and am getting "A JavaScript error occured in the main process" on launch/connect. Augur worked without an issue for me in the prior release.

Attaching screenshot
![image](https://user-images.githubusercontent.com/12191364/48831610-74b96b80-ed77-11e8-8429-7803bac6f4d7.png)

[2018-11-21 17:36] adrake33 commented on #408
@tobutridaz We are currently working on a minor release that should fix this issue.

[2018-11-21 18:34] tobutridaz commented on #408
@adrake33 thx, will wait it out then

[2018-11-26 23:06] adrake33 commented on #408
Closing, since this was addressed in v1.8.1

[2018-11-26 23:06] #408 closed

[2018-11-26 23:16] adrake33 commented on #72
Closing this, since we are using node 10 and ledgerjs.

[2018-11-26 23:16] #72 closed

[2018-11-29 10:02] tobutridaz opened #410 "Block returned null response"
Can't connect to Parity node with the below block returning null. Killing the chain and re-syncing did not help.

[2018-11-29 22:10] adrake33 commented on #410
@tobutridaz This is a known issue with Parity when using warp-sync. Missing blocks and logs should eventually become available, but it will take some time. More info can be found here: https://github.com/AugurProject/augur-app#parity-and-warp-sync.

[2018-11-29 22:10] #410 closed

[2018-11-29 23:37] AugurIntegration opened #411 "error: Unable to acquire a connection"
Steps to reproduce:

once sync to mainnet is complete, disconnect then reconnect quickly.

error throws and app appears to be disconnected from augur-node, even though it appears that AN is still processing blocks.

Logs from terminal

[code]

[2018-11-29 23:37] AugurIntegration opened #412 "Sometimes AN sync starts before light node is fully synced"
This is because the eth_syncing call will return false both when the node is fully synced _and_ when it has not yet begun syncing

[2018-11-29 23:37] AugurIntegration opened #413 "In some cases light node doesn't seem to shut down gracefully"
The observed behavior:

"So my thing said connecting to ethereum looking for nodes ... over and over again
For like 10 min. then I quit + restarted UI, same issue
Then I had a thought, maybe my node was still silently running, turns out it was
I did killall geth, hit connect on augur, and it worked"

This seems likely to be from not handling shutting down gracefully for light nodes

[2018-11-30 18:50] adrake33 opened #414 "Cancel orders - eth value balance doesnt update"
@Chwy5 commented on [Fri Nov 30 2018](https://github.com/AugurProject/augur-walkthrough/issues/30)

I was cancelling all (33) open orders in a cat 6 resolved market and i keep getting this can't update warning 35 x's....but the weird thing is my Eth Balance did not update and i have etherscan confirms for all 33 cancels
And got this message in the consol....see attached screenshot

![11-30-35](htt

[2018-11-30 19:04] phoebemirman commented on #414
i tried reproducing this locally and on rinkeby and my balance is updating correctly

[2018-11-30 20:17] adrake33 commented on #414
Issue moved to [AugurProject/augur #247](https://github.com/AugurProject/augur/issues/247) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-30 20:17] #414 closed

[2018-12-01 01:45] adrake33 commented on #413
Dupe of https://github.com/AugurProject/augur/issues/261

[2018-12-01 01:45] #413 closed

[2018-12-01 01:45] adrake33 commented on #412
Dupe of https://github.com/AugurProject/augur/issues/260

[2018-12-01 01:45] #412 closed

[2018-12-01 01:46] adrake33 commented on #411
Dupe of https://github.com/AugurProject/augur/issues/257

[2018-12-01 01:46] #411 closed

[2018-12-03 16:47] adrake33 commented on #402
Moving this to the augur repository since we are consolidating all issues there.

[2018-12-03 16:47] #402 closed

[2018-12-03 16:47] adrake33 commented on #402
Issue moved to [AugurProject/augur #331](https://github.com/AugurProject/augur/issues/331) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:03] #396 closed

[2018-12-03 21:03] adrake33 commented on #396
Issue moved to [AugurProject/augur #335](https://github.com/AugurProject/augur/issues/335) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:31] #157 closed

[2018-12-03 21:31] adrake33 commented on #157
Issue moved to [AugurProject/augur #336](https://github.com/AugurProject/augur/issues/336) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:32] #291 closed

[2018-12-03 21:36] adrake33 commented on #291
Closing since the error handling for this has been improved. More info is at https://github.com/AugurProject/augur-app#parity-and-warp-sync.

[2018-12-03 21:53] adrake33 commented on #231
Issue moved to [AugurProject/augur #337](https://github.com/AugurProject/augur/issues/337) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:53] #231 closed

[2018-12-03 21:55] #227 closed

[2018-12-03 21:55] adrake33 commented on #227
Issue moved to [AugurProject/augur #338](https://github.com/AugurProject/augur/issues/338) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:56] #225 closed

[2018-12-03 21:56] adrake33 commented on #225
Issue moved to [AugurProject/augur #339](https://github.com/AugurProject/augur/issues/339) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:56] #213 closed

[2018-12-03 21:56] adrake33 commented on #213
Issue moved to [AugurProject/augur #340](https://github.com/AugurProject/augur/issues/340) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:57] adrake33 commented on #199
Issue moved to [AugurProject/augur #341](https://github.com/AugurProject/augur/issues/341) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:57] #199 closed

[2018-12-03 21:57] adrake33 commented on #195
Issue moved to [AugurProject/augur #342](https://github.com/AugurProject/augur/issues/342) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:57] #195 closed

[2018-12-03 21:58] adrake33 commented on #182
Issue moved to [AugurProject/augur #343](https://github.com/AugurProject/augur/issues/343) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:58] #182 closed

[2018-12-03 21:58] adrake33 commented on #86
Issue moved to [AugurProject/augur #344](https://github.com/AugurProject/augur/issues/344) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 21:58] #86 closed

[2018-12-03 22:00] #206 closed

[2018-12-03 22:02] adrake33 commented on #176
Closing since EIP-234 has been merged into geth/parity.

[2018-12-03 22:02] #176 closed

[2018-12-04 23:37] adrake33 commented on #221
Closing as a duplicate of https://github.com/AugurProject/augur/issues/547.

[2018-12-04 23:37] #221 closed

[2018-12-10 17:54] adrake33 opened #417 "Improve top-level error handling in ethrpc"
chwy was seeing the following error while running the Augur App on Rinkeby:

![12-10](https://user-images.githubusercontent.com/11491365/49751153-8ea4ea80-fc61-11e8-9863-2d1b90b16873.jpg)

We should make this and other top-level errors into warnings. We also need a less fragmented strategy for error handling/logging that works well across desktop & mobile.

[2018-12-10 19:58] adrake33 opened #418 "Mobile UI issues"
### Summary
Joey noticed a number of chart issues on the mobile UI.

 ### Steps to reproduce
 1. Go to augur.casino and choose a market trading page using the Coinbase Wallet app (e.g. "Which party will control the House after 2018 U.S. Midterm Election?")
2. See screenshots for examples of other issues.

 ### Expected behavior
- Spacing of months at the bottom of the chart needs to be greater.
-

[2018-12-10 20:29] adrake33 opened #419 "Clarify what expiration date means in UI"
Joey posted on Discord:
[code]

Currently, the Create Market UI has a tooltip saying:
[code]

However, the trading page and market cards on the market list page do not have tooltips explaining the expiration date. Also, reporting/dispute pages & market cards on the reporting pages do not have tooltips for the expiration date.

Suggest modifying the Create Market copy to be:
[code]

and adding tool

[2018-12-10 20:31] adrake33 commented on #419
Do the above changes sound ok, @sharkcrayon @matt-bullock ?

[2018-12-12 16:53] JohnDanz commented on #417
these errors are coming from ethrpc, specifically this file: https://github.com/ethereumjs/ethrpc/blob/master/src/block-management/start-polling-for-blocks.js

Do we want to make these warnings? It seems like error is more appropriate.

[2018-12-13 21:27] adrake33 opened #423 "Augur App not updating to latest version"
### Summary
I'm running 1.8.3 and attempting to upgrade to 1.8.4. I see the progress bar window open briefly and say 0% for about a second. Then the window closes & Augur App restarts but is not upgraded.

 ### Steps to reproduce
Tell us how to reproduce the issue.
 1. Go to Augur -> Check for Updates
 2. Click button to upgrade.

 ### Expected behavior
Should upgrade to v1.8.4.

 ### Environment

[2018-12-13 22:06] adrake33 commented on #423
Original updaterId (not working): b639c8e7-a160-54b3-b143-04e8e7f872d7
New updaterId (working): 36e729af-c506-5ba9-99ad-d3e128ddd488

[2018-12-14 17:42] adrake33 commented on #423
@bthaile From what we can tell, this seems to happen if the user downloads a pre-release and then tries to update later (apparently only on a Mac, though).

[2018-12-14 20:43] adrake33 commented on #423
Closing for now since #693 should hopefully fix this.

[2018-12-14 20:43] #423 closed

[2018-12-14 22:40] #418 closed

[2018-12-15 23:22] ndorf opened #424 "[BUG]Rounded or truncated position/quantity makes selling all shares difficult"
### Summary
On the `/#/market?id=` page, the Net Position and Quantity for each outcome is displayed either rounded or truncated to 0.0001. The precise amount doesn't seem to be visible anywhere, so it's not possible to create a sell order for all of your shares.

 ### Steps to reproduce
Tell us how to reproduce the issue.
1. Acquire 1.012345 shares of any outcome
2. View the associated market; Ne

[2018-12-15 23:52] ndorf opened #425 "[Feature Request]Allow prefilling of order quantity to close entire position"
**Is your feature request related to a problem? Please describe.**
It's somewhat related to #424, wherein imprecisely displayed share positions make it difficult to fully close one's entire position even manually, but ultimately orthogonal.

**Describe the solution you'd like**
Most trading platforms support some way of easily prefilling a sell order with one's entire current position. In the Augu

[2018-12-17 21:31] adrake33 commented on #425
@sharkcrayon @matt-bullock What are your thoughts on how we should handle this in the UI? We should make it clearer exactly how many shares the user has, but we may want to do this by allowing the user to hover over the shares and see the more precise amount. Would also be good to have some way for the user to buy/sell all shares to close their position.